<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/signup/signup.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>


<body>
<header th:insert="~{global/header}"></header>

<section id="signup-section" class="top-container">
    <form class="signup-form-container" id="sign-up-form" action="/auth/sign-up" method="post">
        <hr style="margin: 2rem 0; width: 30rem">
        <h5>회원가입</h5>
        <hr style="margin: 2rem 0; width: 30rem">
        <table class="signup-input-table">
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="name"><i class="fa-solid fa-user"></i></label>
                </td>
                <td>
                    <input id="name" type="text" name="name" placeholder="이름을 입력해주세요" required>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="email"><i class="fa-solid fa-envelope"></i></label>
                </td>
                <td>
                    <div class="email-input-container">
                        <input id="email" type="email" name="email" placeholder="이메일을 입력해주세요"
                               required>
                        <button type="button" class="send-button"
                                onclick="sendEmail()">
                            인증번호
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr id="verify-code-row" style="display: none">
                <td class="label-column">
                    <label for="certify-code"><i class="fa-solid fa-key"></i></label>
                </td>
                <td>
                    <div class="code-input-container">
                        <input id="certify-code" type="text" placeholder="인증번호를 입력해주세요" required>
                        <button type="button" class="verify-button" onclick="certifySignUpCode()">
                            인증번호 확인
                        </button>
                    </div>
                </td>
            </tr>
            <tr id="break-line-row" style="display: none">
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="password"><i class="fa-solid fa-lock"></i></label>
                </td>
                <td>
                    <input id="password" type="password" name="password" placeholder="비밀번호를 입력해주세요"
                           required>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="password-confirm"><i class="fa-solid fa-lock" style="color: white"></i></label>
                </td>
                <td>
                    <input id="password-confirm" type="password" placeholder="비밀번호를 한 번 더 입력해주세요"
                           required>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="birth-option-container"><i
                            class="fa-solid fa-birthday-cake"></i></label>
                </td>
                <td>
                    <div id="birth-option-container">
                        <select id="year" name="year" required>
                            <option th:each="year : ${#numbers.sequence(1900, #calendars.format(#calendars.createNow(), 'yyyy'))}"
                                    th:value="${year}" th:text="${year}"
                                    th:selected="${year==1998}"></option>
                        </select>
                        <label id="year-label" for="year">년</label>
                        <select id="month" name="month" required>
                            <option th:each="month : ${#numbers.sequence(1, 12)}"
                                    th:value="${month}" th:text="${month}"
                                    th:selected="${month==1}"></option>
                        </select>
                        <label id="month-label" for="month">월</label>
                        <select id="day" name="day" required>
                            <option th:each="day : ${#numbers.sequence(1, 31)}"
                                    th:value="${day}" th:text="${day}"
                                    th:selected="${day==1}"></option>
                        </select>
                        <label id="day-label" for="day">일</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td class="label-column">
                    <label for="contact"><i class="fa-solid fa-phone"></i></label>
                </td>
                <td>
                    <input id="contact" type="text" name="contact" placeholder="연락처를 입력해주세요"
                           required>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
        </table>
        <button type="submit" class="signup-button">회원가입</button>
        <br/>
        <br/>
        <br/>
    </form>
</section>

<footer th:insert="~{global/footer.html}"></footer>

<script th:src="@{/js/header/sign-up.js}"></script>
</body>

</html>