.cart-container {
    padding: 0 1rem;
}

#bookcart-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 2rem;
}

#bookcart-table th {
    color: #797979;
    border-bottom: 1px solid #c8c8c8;
    text-align: center;
}

#bookcart-table td {
    min-width: 130px;
    padding-bottom: 2rem;
    border-bottom: 1px solid #c8c8c8;
    text-align: center;
}

.add-to-bookCart {
    min-width: 200px;
}

.bookcart-thumbnail {
    position: relative;
    width: 180px;
    height: 250px;
    background-color: #797979;
    display: grid;
    place-items: center;
    border-radius: 6px;
    margin-right: 2rem;
}

.background-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    border: 1px solid #333333;
    border-radius: 6px;
}

.front-thumbnail {
    position: absolute;
    max-width: 150px;
    max-height: 225px;
    object-fit: contain;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #333333;
    border-radius: 6px;
}

.cart-book-info {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cart-book-text-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.quantity-container {

}

.quantity-container input {
    width: 100px;
    padding: 0.1rem 0.2rem;
    text-align: center;
}

.quantity-container .bookCart_decrement {
    position: relative;
    left: 20px
}

.quantity-container .bookCart_increment {
    position: relative;
    right: 20px
}

.bookcart-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bookcart-actions button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookcart-actions button i {
    font-size: 1.2rem;
}

#bookcart-order-button, #bookcart-wishlist-button, #bookcart-delete-button {
    color: #797979;
}

#bookcart-order-button:hover {
    color: #007924;
}

#bookcart-wishlist-button:hover {
    color: #D90000;
}

#bookcart-delete-button:hover {
    color: #D90000;
}

.summary-right {
    height: 2rem;
}

.summary-right a {
    color: #797979;
}

.summary-right a:hover {
    font-size: 1rem;
    color: #333333;
}