.order-non-input-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-non-input-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-non-input-container form button {
    color: #797979;
}

.order-non-input-container form button:hover {
    color: #333333;
}

.order-non-input-container label {
    font-size: 1.2rem;
    color: #797979;
    display: grid;
    place-items: center;
    margin-right: 1rem;
}

.order-non-input-container input {
    width: 25rem;
    padding: 0.5rem 1rem;
    border: 1px solid #797979;
    border-radius: 6px;
}

.order-non-detail-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.order-non-detail-table {
    border-collapse: collapse;
}

.order-non-detail-table th {
    width: 7rem;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-container a {
    color: #a8a8a8;
}

.button-container a:hover {
    color: #333333;
}