<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/create-review.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="site-wrapper" id="top">
    <!--=================================
    Header Area
    ===================================== -->
    <div th:insert="~{global/header}"></div>

    <section class="breadcrumb-section">
        <h2 class="sr-only">Site Breadcrumb</h2>
        <div class="container">
            <div class="breadcrumb-contents">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/books/main}">홈</a></li>
                        <li class="breadcrumb-item active">리뷰 추가</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- Create Review Page Start -->
    <div class="cart_area inner-page-sec-padding-bottom">
        <div class="container">
            <form id="reviewForm" action="/api/reviews" method="post" enctype="multipart/form-data">
                <div class="review-form">
                    <div class="header">
                        <img th:src="${book.bookImageUrl}" alt="Book Cover">
                        <div class="title">
                            <h3 th:text="${book.bookTitle}">제목 없음</h3>
                            <p th:text="${book.authorName} + ' · ' + ${book.publisherName}">저자 · 출판사</p>
                        </div>
                        <span class="close-btn">&times;</span>
                    </div>

                    <div class="image-upload">
                        <input type="file" id="file" name="file" accept="image/*"
                               onchange="previewImage(this)">
                        <div class="image-preview" id="imagePreview">
                            <img id="previewImg" src="" alt="Image Preview" class="image-preview__image"
                                 style="display: none;">
                            <span class="image-preview__default-text">이미지 미리보기</span>
                        </div>
                        <button type="button" id="cancelImage" style="display: none;" onclick="cancelImage()">이미지 취소
                        </button>
                    </div>

                    <input type="hidden" name="bookId" th:value="${book.bookId}">
                    <div class="rating">
                        <input type="radio" id="star5" name="reviewScore" value="5">
                        <label for="star5">★</label>
                        <input type="radio" id="star4" name="reviewScore" value="4">
                        <label for="star4">★</label>
                        <input type="radio" id="star3" name="reviewScore" value="3">
                        <label for="star3">★</label>
                        <input type="radio" id="star2" name="reviewScore" value="2">
                        <label for="star2">★</label>
                        <input type="radio" id="star1" name="reviewScore" value="1" checked>
                        <label for="star1">★</label>
                    </div>
                    <div class="editor-toolbar">
                        <div class="word-count">
                            <span>0</span>/400
                        </div>
                    </div>
                    <div class="editor">
                        <label>
                            <textarea id="reviewComment" name="reviewComment" placeholder="내용을 입력해주세요."></textarea>
                        </label>
                    </div>
                    <button type="submit" id="submitBtn" class="submit-btn" disabled>등록</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Creat Review Page End -->
</div>

<!--=================================
Footer Area
===================================== -->
<div th:insert="~{global/footer}"></div>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/create-review.js}"></script>

<script>
    function previewImage(input) {
        const file = input.files[0];
        const reader = new FileReader();

        reader.onload = function () {
            const previewImg = document.getElementById('previewImg');
            previewImg.src = reader.result;
            previewImg.style.display = 'block';
            const defaultText = document.querySelector('.image-preview__default-text');
            defaultText.style.display = 'none';
            const cancelImageBtn = document.getElementById('cancelImage');
            cancelImageBtn.style.display = 'inline-block';
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function cancelImage() {
        const fileInput = document.getElementById('file');
        fileInput.value = ''; // 파일 선택(input) 초기화

        const previewImg = document.getElementById('previewImg');
        previewImg.src = '';
        previewImg.style.display = 'none'; // 이미지 미리보기 숨기기

        const defaultText = document.querySelector('.image-preview__default-text');
        defaultText.style.display = 'block'; // 이미지 미리보기 기본 텍스트 보이기

        const cancelImageBtn = document.getElementById('cancelImage');
        cancelImageBtn.style.display = 'none'; // 이미지 취소 버튼 숨기기
    }

    const textarea = document.getElementById('reviewComment');
    const wordCount = document.querySelector('.word-count span');
    const submitBtn = document.getElementById('submitBtn');

    textarea.addEventListener('input', function () {
        const textLength = textarea.value.length;
        wordCount.textContent = textLength;
        submitBtn.disabled = textLength === 0 || textLength > 400;
    });
</script>

</body>

</html>