<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pustok - Book Store HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/create-review.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="site-wrapper" id="top">
    <!--=================================
    Header Area
    ===================================== -->
    <div th:insert="~{global/header}"></div>

    <section class="breadcrumb-section">
        <h2 class="sr-only">Site Breadcrumb</h2>
        <div class="container">
            <div class="breadcrumb-contents">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/books/main}">홈</a></li>
                        <li class="breadcrumb-item active">리뷰 추가</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- Create Review Page Start -->
    <div class="cart_area inner-page-sec-padding-bottom">
        <div class="container">
            <div class="review-form">
                <div class="header">
                    <img th:src="@{/image/products/product-2.jpg}" alt="Book Cover">
                    <div class="title">
                        <h3>2023 알기사 정보처리기사(산업기사) 실기</h3>
                        <p>정일영 편저 · 탑스팟</p>
                    </div>
                    <span class="close-btn">&times;</span>
                </div>
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5">
                    <label for="star5">★</label>
                    <input type="radio" id="star4" name="rating" value="4">
                    <label for="star4">★</label>
                    <input type="radio" id="star3" name="rating" value="3">
                    <label for="star3">★</label>
                    <input type="radio" id="star2" name="rating" value="2">
                    <label for="star2">★</label>
                    <input type="radio" id="star1" name="rating" value="1">
                    <label for="star1">★</label>
                </div>
                <div class="editor-toolbar">
                    <div class="word-count">
                        <span>0</span>/400
                    </div>
                </div>
                <div class="editor">
                    <label>
                        <textarea placeholder="내용을 입력해주세요."></textarea>
                    </label>
                </div>
                <button class="submit-btn" disabled>등록</button>
            </div>
        </div>
    </div>
    <!-- Creat Review Page End -->
</div>

<!--=================================
Footer Area
===================================== -->
<div th:insert="~{global/footer}"></div>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/create-review.js}"></script>
</body>

</html>