<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/create-review.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
<header th:insert="~{global/header}"></header>

<section id="page" class="top-container">
    <section id="page-menu-container" th:insert="~{fragments/user-menu.html}"></section>
    <section id="page-content">
        <section id="page-header">
            <h5 style="margin: 0 1rem">리뷰 작성</h5>
        </section>
        <hr style="width: 100%"/>
        <section id="page-body">
            <form id="reviewForm" action="/reviews" method="post" enctype="multipart/form-data">
                <div class="review-form">
                    <div class="header">
                        <img th:src="${book.image}" alt="Book Cover">
                        <div class="title">
                            <h3 th:text="${book.bookTitle}">제목 없음</h3>
                        </div>
                        <span class="close-btn">&times;</span>
                    </div>

                    <div class="image-upload">
                        <input type="file" id="file" name="file" accept="image/*"
                               onchange="previewImage(this)">
                        <div class="image-preview" id="imagePreview">
                            <img id="previewImg" src="" alt="Image Preview" class="image-preview__image"
                                 style="display: none;">
                            <span class="image-preview__default-text">이미지 미리보기</span>
                        </div>
                        <button type="button" id="cancelImage" style="display: none;" onclick="resetImagePreview()">이미지
                            취소
                        </button>
                    </div>

                    <input type="hidden" name="orderListId" th:value="${orderBook.orderListId}">
                    <div class="rating">
                        <input type="radio" id="star5" name="reviewScore" value="5">
                        <label for="star5">★</label>
                        <input type="radio" id="star4" name="reviewScore" value="4">
                        <label for="star4">★</label>
                        <input type="radio" id="star3" name="reviewScore" value="3">
                        <label for="star3">★</label>
                        <input type="radio" id="star2" name="reviewScore" value="2">
                        <label for="star2">★</label>
                        <input type="radio" id="star1" name="reviewScore" value="1" checked>
                        <label for="star1">★</label>
                    </div>
                    <div class="editor-toolbar">
                        <div class="word-count">
                            <span>0</span>/400
                        </div>
                    </div>
                    <div class="editor">
                        <label>
                            <textarea id="reviewComment" name="reviewComment" placeholder="내용을 입력해주세요."></textarea>
                        </label>
                    </div>
                    <button type="submit" id="submitBtn" class="submit-btn" disabled>등록</button>
                </div>
            </form>
        </section>
    </section>
</section>

<div id="to-admin-container" class="top-container">
    <a th:href="@{/api/users/admin}">관리자이신가요?</a>
</div>

<footer th:insert="~{global/footer}"></footer>

<script th:src="@{/js/my-page.js}"></script>
<script th:src="@{/js/create-review.js}"></script>
</body>
</html>