<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/list-review.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
<header th:insert="~{global/header}"></header>

<section id="page" class="top-container">
    <section id="page-menu-container" th:insert="~{fragments/user-menu.html}"></section>
    <section id="page-content">
        <section id="page-header">
            <h5>리뷰 내역</h5>
        </section>
        <hr style="width: 100%"/>
        <section id="page-body">
            <h3>작성한 리뷰 리스트</h3>
            <label>
                <select th:if="${possibleBooks.size() > 0}"
                        class="form-control" id="bookId"
                        name="bookId" required>
                    <option value="">도서를 선택하세요</option>
                    <option th:each="book : ${possibleBooks}"
                            th:value="${book.bookId}"
                            th:text="${book.bookTitle}">
                    </option>
                </select>
            </label>

            <p th:if="${possibleBooks.size() > 0}" class="btn btn-primary"
               onclick="submitReviewForm()">리뷰 작성</p>
            <p th:if="${possibleBooks.size() < 1}"> 작성 가능한 리뷰가 없습니다.</p>

            <hr style="width: 100%; text-align: center"/>
            <p style="color: #a8a8a8; font-size: 1.2rem; font-weight: bold; text-align: center"
               th:text="${reviewType} + ' 리뷰 (' + ${reviews.getTotalElements()} + ')'">
            </p>
            <div class="review-button-container">
                <a th:href="@{/api/users/me/reviews/page (reviewType='전체')}"
                   class="btn btn-primary">전체리뷰 </a>
                <a th:href="@{/api/users/me/reviews/page (reviewType='일반')}"
                   class="btn btn-primary">일반리뷰 </a>
                <a th:href="@{/api/users/me/reviews/page (reviewType='사진')}"
                   class="btn btn-primary">사진리뷰 </a>
            </div>

            <div th:if="${reviews.getContent().size() == 0}" style="text-align: center">
                <span>등록된 리뷰가 없습니다.</span>
            </div>
            <div th:if="${reviews.size != 0}" th:each="review : ${reviews}" class="reviews-container">
                <div class="single-review">
                    <div class="avatar-profile">
                        <img th:src="@{/image/LEFT_REVIEW_AVATAR.png}" alt="avatar">
                    </div>
                    <div class="review-content">
                        <div>
                            <span th:text="${review.userName} + ' 님의 리뷰'"></span>
                            <span style="color: #a8a8a8">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <span th:text="${#temporals.format(review.reviewCreatedAt, 'yyyy-MM-dd')}"></span>
                            <br/>
                            <span style="font-size: 1.2rem;"
                                  th:each="reviewStar : ${#numbers.sequence(1, 5)}">
                        <i style="color: #797979" th:if="${reviewStar <= review.reviewScore}"
                           class="fa-solid fa-star"></i>
                        <i style="color:#a8a8a8" th:if="${reviewStar > review.reviewScore}"
                           class="fa-regular fa-star"></i>
                    </span>
                            <br/>
                            <div class="review-with-image" th:if="${review.reviewImageUrl != null}">
                                <span th:text="${review.reviewComment()}"></span>
                                <img th:if="${review.reviewImageUrl != null}"
                                     th:src="${review.reviewImageUrl}" alt="리뷰 이미지">
                            </div>
                            <span th:if="${review.reviewImageUrl == null}"
                                  th:text="${review.reviewComment()}"></span>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <!-- 페이징 처리 시작-->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-4">
                    <!-- 첫번째 페이지로 이동 -->
                    <li class="page-item"
                        th:classappend="${reviews.first} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/api/users/me/reviews/page (page=1, size=${reviews.size}, reviewType=${reviewType})}"
                           aria-label="First">
                            <span aria-hidden="true">&laquo; 처음</span>
                        </a>
                    </li>

                    <!-- 이전 페이지로 이동 -->
                    <li class="page-item"
                        th:classappend="${reviews.first} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/api/users/me/reviews/page (page=${reviews.number}, size=${reviews.size}, reviewType=${reviewType})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lsaquo; 이전</span>
                        </a>
                    </li>


                    <!-- 페이지 번호 링크 -->
                    <li class="page-item"
                        th:each="page: ${#numbers.sequence(startPage, endPage)}"
                        th:classappend="${page == reviews.number + 1} ? 'active'">
                        <a class="page-link"
                           th:href="@{/api/users/me/reviews/page (page=${page}, size=${reviews.size}, reviewType=${reviewType})}"
                           th:text="${page}"></a>
                    </li>

                    <!-- 다음 페이지로 이동 -->
                    <li class="page-item"
                        th:classappend="${reviews.last} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/api/users/me/reviews/page (page=${reviews.number + 2}, size=${reviews.size}, reviewType=${reviewType})}"
                           aria-label="Next">
                            <span aria-hidden="true">다음 &rsaquo;</span>
                        </a>
                    </li>

                    <!-- 마지막 페이지로 이동 -->
                    <li class="page-item"
                        th:classappend="${reviews.last} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/api/users/me/reviews/page (page=${reviews.totalPages}, size=${reviews.size}, reviewType=${reviewType})}"
                           aria-label="Last">
                            <span aria-hidden="true">끝 &raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 페이징 처리 끝-->
        </section>
    </section>
</section>

<div id="to-admin-container" class="top-container">
    <a th:href="@{/api/users/admin}">관리자이신가요?</a>
</div>

<footer th:insert="~{global/footer}"></footer>

<script th:src="@{/js/my-page.js}"></script>
<script th:src="@{/js/list-by-user-review.js}"></script>
</body>
</html>