<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/list-review.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
<header th:insert="~{global/header}"></header>

<section id="page" class="top-container">
    <section id="page-menu-container" th:insert="~{fragments/user-menu.html}"></section>
    <section id="page-content">
        <section id="page-header">
            <h5>리뷰 내역</h5>
        </section>
        <hr style="width: 100%"/>
        <section id="page-body">
            <label>
                <select th:if="${possibleBooks}" class="form-control" id="orderListId" name="orderListId" required>
                    <option value="">도서를 선택하세요</option>
                    <option th:each="orderBook : ${possibleBooks}"
                            th:value="${orderBook.orderListId}"
                            th:text="${orderBook.bookTitle}">
                    </option>
                </select>
            </label>

            <p th:if="${possibleBooks != null}" class="btn btn-primary" onclick="submitReviewForm()">리뷰 작성</p>
            <p th:if="${possibleBooks == null}"> 작성 가능한 리뷰가 없습니다.</p>
            <h3>작성한 리뷰 리스트</h3>
            <hr style="width: 100%; text-align: center"/>
            <p style="color: #a8a8a8; font-size: 1.2rem; font-weight: bold; text-align: center"
               th:text="${reviewType} + ' 리뷰 (' + ${reviews.getTotalElements()} + ')'">
            </p>
            <div class="review-button-container">
                <a th:href="@{/api/users/me/reviews/page (reviewType='전체')}"
                   class="btn btn-primary">전체리뷰 </a>
                <a th:href="@{/api/users/me/reviews/page (reviewType='일반')}"
                   class="btn btn-primary">일반리뷰 </a>
                <a th:href="@{/api/users/me/reviews/page (reviewType='사진')}"
                   class="btn btn-primary">사진리뷰 </a>
            </div>

            <div th:if="${reviews.getContent().size() == 0}" style="text-align: center">
                <span>등록된 리뷰가 없습니다.</span>
            </div>
            <div th:if="${reviews.size != 0}" th:each="review : ${reviews}" class="reviews-container">
                <div class="single-review">
                    <div class="avatar-profile">
                        <img th:src="@{/image/LEFT_REVIEW_AVATAR.png}" alt="avatar">
                    </div>
                    <div class="review-content">
                        <div>
                            <span th:text="${review.userName} + ' 님의 리뷰'"></span>
                            <span style="color: #a8a8a8">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <span th:text="${#temporals.format(review.reviewCreatedAt, 'yyyy-MM-dd')}"></span>
                            <br/>
                            <span style="font-size: 1.2rem;"
                                  th:each="reviewStar : ${#numbers.sequence(1, 5)}">
                        <i style="color: #797979" th:if="${reviewStar <= review.reviewScore}"
                           class="fa-solid fa-star"></i>
                        <i style="color:#a8a8a8" th:if="${reviewStar > review.reviewScore}"
                           class="fa-regular fa-star"></i>
                    </span>
                            <br/>
                            <div class="review-with-image" th:if="${review.reviewImageUrl != null}">
                                <span th:text="${review.reviewComment()}"></span>
                                <img th:if="${review.reviewImageUrl != null}"
                                     th:src="${review.reviewImageUrl}" alt="리뷰 이미지">
                            </div>
                            <span th:if="${review.reviewImageUrl == null}"
                                  th:text="${review.reviewComment()}"></span>
                            <a th:href="@{/api/reviews/user/{reviewId} (reviewId=${review.reviewId})}"
                               class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 페이징 처리 시작-->
            <div th:insert="~{global/paging.html}"></div>
            <!-- 페이징 처리 끝-->
        </section>
    </section>
</section>

<div id="to-admin-container" class="top-container">
    <a th:href="@{/admin}">관리자이신가요?</a>
</div>

<footer th:insert="~{global/footer}"></footer>

<script th:src="@{/js/my-page.js}"></script>
<script th:src="@{/js/list-review.js}"></script>
</body>
</html>