<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pustok - Book Store HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/list-review.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="site-wrapper" id="top">
    <!--=================================
    Header Area
    ===================================== -->
    <div th:insert="~{/global/header.html}"></div>

    <section class="breadcrumb-section">
        <h2 class="sr-only">Site Breadcrumb</h2>
        <div class="container">
            <div class="breadcrumb-contents">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/books/main}">홈</a></li>
                        <li class="breadcrumb-item active">회원 리뷰 리스트</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- List Review Page Start -->
    <div class="cart_area inner-page-sec-padding-bottom">
        <div class="container">
            <div th:if="${reviews.getContent().size() > 0}">
                <div class="review-list">
                    <div class="tabs">
                        <button class="active">전체 리뷰 (<span th:text="${reviews.getContent().size()}"></span>)</button>
                        <button>일반 리뷰 (2)</button>
                        <button>포토 리뷰 (1)</button>
                    </div>
                    <div th:each="review : ${reviews}" class="review">
                        <div class="review-header">
                            <div class="info">
                                <span th:text="${review.userId}"></span>
                                <span th:text="${review.reviewCreatedAt}"></span>
                                <span th:each="star : ${#numbers.sequence(1, review.reviewScore)}" class="star">&#9733;</span>
                                <span th:if="${review.reviewScore < 5}" th:each="star : ${#numbers.sequence(1, 5 - review.reviewScore)}" class="star">&#9734;</span>
                            </div>
                        </div>
                        <div class="review-body">
                            <span th:text="${review.reviewComment}"></span>
                            <span class="more">더보기</span>
                        </div>
                    </div>
                    <!-- 페이징 처리 시작-->
                    <div th:insert="~{/global/paging.html}"></div>
                    <!-- 페이징 처리 끝-->

                </div>
            </div>
        </div>
    </div>
    <!-- List Review Page End -->
</div>
<!--=================================
Footer Area
===================================== -->
<div th:insert="~{/global/footer.html}"></div>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>