<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/order/order-non.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
</head>


<body>
<header th:insert="~{global/header}"></header>

<section id="page" class="top-container">
    <section id="page-menu-container" th:insert="~{fragments/user-menu.html}"></section>
    <section id="page-content">
        <section id="page-header">
            <h5 style="margin: 0 1rem">비회원 주문 확인</h5>
        </section>
        <hr style="width: 100%"/>
        <section id="page-body">
            <div class="order-non-input-container">
                <h6 style="font-weight: bold; color: #797979">주문 정보 입력</h6>
                <br/>
                <form th:action="@{/api/orders/orderCheck/Non}" method="post">
                    <table>
                        <tr>
                            <td style="text-align: end">
                                <label for="order-id-input"><i class="fa-solid fa-credit-card"></i></label>
                            </td>
                            <td>
                                <input id="order-id-input" type="text" name="orderInfoId" placeholder="주문 번호를 입력해주세요">
                            </td>
                        </tr>
                        <tr>
                            <td><br/></td>
                        </tr>
                        <tr>
                            <td style="text-align: end">
                                <label for="email-input"><i class="fas fa-envelope"></i></label>
                            </td>
                            <td>
                                <input id="email-input" type="email" name="payerEmail" placeholder="결제자 이메일을 입력해주세요">
                            </td>
                        </tr>
                        <tr>
                            <td><br/></td>
                        </tr>
                    </table>
                    <button type="submit">검색하기
                    </button>
                </form>
            </div>
        </section>
    </section>
</section>

<div id="to-admin-container" class="top-container">
    <a th:href="@{/api/users/admin}">관리자이신가요?</a>
</div>

<footer th:insert="~{global/footer}"></footer>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>