<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/order/order.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
</head>

<body>
<header th:insert="~{global/header}"></header>

<section id="page" class="top-container">
    <section id="page-menu-container" th:insert="~{fragments/user-menu}"></section>
    <section id="page-content">
        <section id="page-header">
            <h5>회원 주문 내역</h5>
        </section>
        <hr style="width: 100%"/>
        <section id="page-body">
            <div th:if="${orderList != null}">
                <table class="order-check-table">
                    <thead>
                    <tr>
                        <th style="color: #797979" class="pro-title">주문 번호</th>
                        <th style="color: #797979" class="pro-price">주문 가격</th>
                        <th style="color: #797979" class="pro-date">주문 날짜</th>
                        <th style="color: #797979" class="pro-status">주문 상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderList}">
                        <td class="pro-title">
                            <a th:href="@{/api/orders/orderDetails/{order_info_id}(order_info_id=${order.orderInfoId()})}"
                               th:text="${order.orderInfoId()}"></a>
                        </td>
                        <td class="pro-price"> <span
                                th:text="${order.orderPrice().setScale(0)} + 원"></span>
                        </td>
                        <td class="pro-date"><span
                                th:text="${order.orderDate()}"></span></td>
                        <td class="pro-status"><span
                                th:text="${order.name()}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:insert="~{global/paging.html}"></div>

            <div th:if="${orderList == null}">
                <p>주문 목록이 없습니다.</p>
            </div>
        </section>
    </section>
</section>

<div th:insert="~{fragments/to-admin-button}"></div>

<footer th:insert="~{global/footer}"></footer>

<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>