<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/order/order-non.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
</head>


<body>
<header th:insert="~{global/header}"></header>

<section id="page" class="top-container">
    <section id="page-menu-container" th:insert="~{fragments/user-menu.html}"></section>
    <section id="page-content">
        <section id="page-header">
            <h5>주문 확인</h5>
        </section>
        <hr style="width: 100%"/>
        <section id="page-body">
            <div th:if="${orderList != null}" class="order-item order-non-detail-container">
                <div></div>
                <table class="order-non-detail-table">
                    <tr>
                        <th style="color: #797979" class="pro-title">주문 번호</th>
                        <td class="pro-title">
                            <a style="text-decoration: underline"
                               th:href="@{/api/orders/orderDetails/{order_info_id}(order_info_id=${orderList.orderInfoId()})}"
                               th:text="${orderList.orderInfoId()}"></a>
                        </td>
                    </tr>
                    <tr>
                        <td><br/></td>
                    </tr>
                    <tr>
                        <th style="color: #797979" class="pro-price">주문 가격</th>
                        <td class="pro-price"> <span
                                th:text="${orderList.orderPrice()}"></span></td>
                    </tr>
                    <tr>
                        <td><br/></td>
                    </tr>
                    <tr>
                        <th style="color: #797979" class="pro-date">주문 일시</th>
                        <td class="pro-date">
                            <span th:text="${orderList.orderDate().toString().split('T')[0]}"></span>
                            &nbsp;&nbsp;
                            <span th:text="${#strings.setSplit(orderList.orderDate().toString().split('T')[1], '.')[0]}"></span>
                            <!--                            <span th:text="${#strings.isEmpty(orderList.orderDate()) ? '' : orderList.orderDate().toString().split('\\.')[0]}"></span>-->
                        </td>
                    </tr>
                    <tr>
                        <td><br/></td>
                    </tr>
                    <tr>
                        <th style="color: #797979" class="pro-status">주문 상태</th>
                        <td class="pro-status"><span
                                th:text="${orderList.name()}"></span></td>
                    </tr>
                </table>
                <div class="button-container">
                    <a class="order-non-detail-back" th:href="@{/api/orders/orderCheck/Non}">뒤로가기</a>
                </div>
            </div>
            <div th:if="${orderList == null}">
                <p>주문 목록이 없습니다.</p>
            </div>
        </section>
    </section>
</section>

<div id="to-admin-container" class="top-container">
    <a th:href="@{/admin}">관리자이신가요?</a>
</div>

<footer th:insert="~{global/footer}"></footer>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>