<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pustok - Book Store HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/wishlist.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
</head>

<body>
<div class="site-wrapper" id="top">
    <!--=================================
    Header Area
    ===================================== -->
    <div th:insert="~{global/header}"></div>

    <section class="breadcrumb-section">
        <h2 class="sr-only">Site Breadcrumb</h2>
        <div class="container">
            <div class="breadcrumb-contents">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/api/books/main}">홈</a></li>
                        <li class="breadcrumb-item active">주문 리스트</li>
                    </ol>
                </nav>
            </div>
        </div>

    </section>
    <main class="cart-page-main-block inner-page-sec-padding-bottom">
        <div class="cart_area cart-area-padding  ">
            <div class="container">
                <div class="page-section-title">
                    <h1>주문 리스트 작성</h1>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form th:action="@{/api/orders/createBookOrderTest}" method="post">
                            <!-- Cart Table -->
                            <div class="cart-table table-responsive mb--40">
                                <table class="table">
                                    <!-- Head Row -->
                                    <thead>
                                    <tr>
                                        <th class="pro-thumbnail">도서 이미지</th>
                                        <th class="pro-title">도서 이름</th>
                                        <th class="pro-description">도서 설명</th>
                                        <th class="pro-price">도서 가격</th>
                                        <th class="pro-quantity">Quantity</th>
                                        <th class="pro-action">action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Product Row -->
                                    <tr>
                                        <td class="pro-thumbnail"><img
                                                th:src="${book.bookImageUrl()}" alt="Product"></td>
                                        <td class="pro-title"><span
                                                th:text="${book.bookTitle()}"></span></td>
                                        <td class="pro-description"> <span
                                                th:utext="${book.bookDescription()}"></span></td>
                                        <td class="pro-price"><span
                                                th:text="${book.bookSalePrice().setScale(0)} + 원"></span></td>
                                        <td class="pro-quantity">
                                            <div class="pro-qty">
                                                <div class="count-input-block">
                                                    <input type="number" class="form-control text-center" id="quantity" name="quantity" value="1" min="1" readonly>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="pro-action">
                                            <div class="d-grid gap-2 mx-auto">
                                                <button type="button" class="btn btn-primary btn-sm me-2" onclick="changeQuantity(-1)">수량 감소</button>
                                                <button type="button" class="btn btn-primary btn-sm me-2" onclick="changeQuantity(1)">수량 증가</button>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Discount Row  -->

                                    </tbody>
                                </table>
                                <input type="hidden" name="bookId" th:value="${bookId}">
                            </div>
                            <div class="col-lg-6 col-12 d-flex">
                                <div class="cart-summary">
                                    <div class="cart-summary-button">
                                        <button class="checkout-btn c-btn btn--primary" type="submit">Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Cart Page End -->
</div>
<!--=================================
Footer Area
===================================== -->
<div th:insert="~{global/footer}"></div>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

<script>
    function changeQuantity(change) {
        const quantityInput = document.getElementById('quantity');
        let currentQuantity = parseInt(quantityInput.value) || 1;
        currentQuantity += change;

        // 수량이 1보다 작아지지 않도록 설정
        if (currentQuantity < 1) {
            currentQuantity = 1;
        }

        quantityInput.value = currentQuantity;
    }
</script>

</html>
