.login-form-container {
    height: 100%;
    width: 100%;
    /*border: 1px solid #ff5900;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 50%;
    height: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}