<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
<header th:insert="~{global/header}"></header>

<section id="page" class="top-container">
    <section id="page-menu-container" th:insert="~{fragments/admin-menu.html}"></section>
    <section id="page-content">
        <section id="page-header">
            <h5>도서</h5>
        </section>
        <hr style="width: 100%"/>
        <section id="page-body">
            <h3>도서 상세정보</h3>
            <!-- 도서 Tab Content Start -->
            <main class="inner-page-sec-padding-bottom">
                <div class="container">
                    <div class="row  mb--60">
                        <div class="col-lg-5 mb--30">
                            <!-- Product Details Slider Big Image-->
                            <div class="product-details-slider sb-slick-slider arrow-type-two"
                                 data-slick-setting='{
                                                     "slidesToShow": 1,
                                                     "arrows": false,
                                                     "fade": true,
                                                     "draggable": false,
                                                     "swipe": false,
                                                     "asNavFor": ".product-slider-nav"
                                                     }'>
                                <div class="single-slide">
                                    <img th:src="${book.bookImageUrl}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-info pl-lg--30 ">
                                <p class="tag-block">카테고리:
                                    <span th:each="bookCategory : ${bookCategories}">
                                                            <a th:href="@{#}"
                                                               th:text="${bookCategory.categoryName}"></a>&nbsp;
                                                        </span>
                                </p>

                                <h3 class="product-title" th:text="${book.bookTitle}"></h3>
                                <ul class="list-unstyled">
                                    <li>작가: <a class="list-value font-weight-bold"
                                               th:text="${book.authorName}"></a></li>
                                    <li>출판사: <a class="list-value font-weight-bold"
                                                th:text="${book.publisherName}"></a></li>
                                    <li>출판일: <a class="list-value font-weight-bold"
                                                th:text="${#dates.format(book.bookPublishDate, 'yyyy-MM-dd')}"></a>
                                    </li>
                                    <li>ISBN: <span class="list-value"
                                                    th:text="${book.bookIsbn}"></span></li>
                                    <li>지급 포인트: <span class="list-value"> 200</span></li>
                                    <li>상태: <span class="list-value"
                                                  th:text="${book.bookStatusName}"></span></li>
                                    <li>재고: <span class="list-value"
                                                  th:text="${book.bookQuantity} + '권'"></span></li>
                                </ul>
                                <div>할인율: <span class="price-discount"
                                                th:text="${#numbers.formatDecimal(book.bookSalePercent, 1, 'COMMA', 0, 'POINT')} + '%'">할인율 정보 없음</span>
                                </div>

                                <div class="price-block">
                                    할인가: <span class="price-new"
                                               th:text="${#numbers.formatDecimal(book.bookSalePrice, 1, 'COMMA', 0, 'POINT')} + '원'"></span>
                                    정가: <span class="price-old"
                                              th:text="${#numbers.formatDecimal(book.bookPrice, 1, 'COMMA', 0, 'POINT')} + '원'"></span>
                                </div>

                                <p class="tag-block">태그:
                                    <span th:each="bookTag : ${bookTags}">
                                                            <a th:href="@{#}" th:text="'#' + ${bookTag.tagName}"></a>&nbsp;
                                                        </span>
                                </p>

                                <div class="d-flex inline-text">
                                    <a th:href="@{/api/books/update/{bookId} (bookId=${book.bookId})}"
                                       class="btn btn-warning">편집</a>
                                    <form th:action="@{/api/books/{bookId} (bookId=${book.bookId})}"
                                          th:method="delete">
                                        <button type="submit" class="btn btn-danger">삭제</button>
                                    </form>
                                    <a class="btn btn-secondary" onclick="history.back()">뒤로가기</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="sb-custom-tab review-tab section-padding">
                        <ul class="nav nav-tabs nav-style-2" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab1" data-bs-toggle="tab"
                                   href="#tab-1" role="tab" aria-controls="tab-1"
                                   aria-selected="true">상품 설명</a>
                            </li>
                        </ul>
                        <div class="tab-content space-db--20" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-1" role="tabpanel"
                                 aria-labelledby="tab1">
                                <article class="review-article">
                                    <h1 class="sr-only">Tab Article</h1>
                                    <p th:utext="${book.bookDescription}"></p>
                                </article>
                            </div>
                        </div>

                    </div>
                </div>

            </main>
            <!-- 도서 Tab Content End -->
        </section>
    </section>
</section>

<footer th:insert="~{global/footer}"></footer>

<script th:src="@{/js/my-page.js}"></script>
</body>
</html>