<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/pages/list-book-by-category.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
<header th:insert="~{global/header}"></header>

<section class="page-section inner-page-sec-padding">
    <div class="top-container book-list-container">
        <h3 style="color: darkgreen; font-weight: bold;" th:text="'카테고리: ' + ${categoryName}"></h3>
        <div class="book-grid">
            <div th:each="book : ${books}" class="main-page-book"
                 th:data-href="@{/api/books/{bookId}(bookId=${book.bookId})}"
                 onclick="location.href=this.getAttribute('data-href');">
                <div class="book-thumbnail-container">
                    <img class="book-background-thumbnail" th:src="${book.bookImageUrl}"
                         th:alt="${book.bookTitle}">
                    <img class="book-front-thumbnail" th:src="${book.bookImageUrl}"
                         th:alt="${book.bookTitle}">
                </div>
                <div class="book-info">
                    <h5 class="book-title">
                        <span th:text="${book.bookTitle}" class="book-title-link">제목 없음</span>
                    </h5>
                    <span th:text="${book.authorName}" class="book-author">작가 없음</span>
                    <div class="price-info">
                        <span class="book-price"
                              th:text="${#numbers.formatDecimal(book.bookSalePrice, 1, 'COMMA', 0, 'POINT') + '원'}">가격 정보 없음₩</span>
                        <div class="original-price-info">
                            <del class="book-original-price"
                                 th:text="${#numbers.formatDecimal(book.bookPrice, 1, 'COMMA', 0, 'POINT') + '원'}"></del>
                            <span class="book-price-discount"
                                  th:text="${'-' + #numbers.formatDecimal(book.bookSalePercent, 1, 'COMMA', 0, 'POINT') + '%'}">할인율 정보 없음</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 페이징 처리 시작 -->
        <div th:insert="~{global/paging.html}"></div>
        <!-- 페이징 처리 끝 -->
    </div>
</section>

<footer th:insert="~{global/footer.html}"></footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/create-wishList.js}"></script>
<script th:src="@{/js/create-bookCart.js}"></script>
</body>

</html>