<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
<header th:insert="~{global/header}"></header>

<section id="page" class="top-container">
    <section id="page-menu-container" th:insert="~{fragments/admin-menu.html}"></section>
    <section id="page-content">
        <section id="page-header">
            <h5 style="margin: 0 1rem">도서</h5>
        </section>
        <hr style="width: 100%"/>
        <section id="page-body">
            <h3>도서 수정 폼</h3>
            <form th:object="${book}"
                  th:action="@{/api/books/{bookId} (bookId=${bookId})}"
                  method="post" id="form" enctype="multipart/form-data">

                <!-- 최소 한 개의 카테고리 선택 항목 유지 -->
                <div class="form-group" id="categorySelectionGroup">
                    <div th:each="bookCategory, iterStat : ${bookCategories}">
                        <div class="category-select-row">
                            <label for="categories" class="mr-2">카테고리
                                [[${iterStat.index + 1}]]</label>
                            <div class="d-flex align-items-center">
                                <select class="form-control" id="categories"
                                        name="categories" required>
                                    <!-- 카테고리 옵션들 추가 -->
                                    <option th:each="category : ${categories}"
                                            th:value="${category.categoryId}"
                                            th:text="${category.categoryName}"
                                            th:selected="${category.categoryId == bookCategory.categoryId}"></option>
                                </select>
                                <button class="btn btn-danger ml-2 inline-text"
                                        onclick="removeCategorySelect(this)">삭제
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 추가 카테고리 선택 버튼 -->
                <button type="button" class="btn btn-primary mt-2"
                        onclick="addCategorySelect()">카테고리 항목 추가
                </button>

                <div class="form-group" id="tagSelectionGroup">
                    <div th:each="bookTag, iterStat : ${bookTags}">
                        <div class="tag-select-row">
                            <label for="tags" class="mr-2">태그 [[${iterStat.index +
                                1}]]</label>
                            <div class="d-flex align-items-center">
                                <select class="form-control" id="tags" name="tags"
                                        required>
                                    <!-- 태그 옵션들 추가 -->
                                    <option th:each="tag : ${tags}"
                                            th:value="${tag.tagId}"
                                            th:text="${tag.tagName}"
                                            th:selected="${tag.tagId == bookTag.tagId}"></option>
                                </select>
                                <button class="btn btn-danger ml-2 inline-text"
                                        onclick="removeTagSelect(this)">삭제
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 추가 태그 선택 버튼 -->
                <button type="button" class="btn btn-primary mt-2"
                        onclick="addTagSelect()">태그 항목 추가
                </button>

                <!-- 이미지 파일 선택 필드 추가 -->
                <div class="form-group">
                    <label for="file">도서 이미지</label>
                    <input type="file" class="form-control" id="file" name="file" accept="image/*">
                    <img id="imagePreview" src="" alt="Image Preview"
                         style="display: none; max-width: 100px; max-height: 100px; margin-top: 10px;">
                </div>

                <div class="form-group">
                    <label for="bookTitle">도서 제목</label>
                    <input type="text" class="form-control" id="bookTitle"
                           th:field="*{bookTitle}" required>
                </div>
                <div class="form-group">
                    <label for="authorName">저자 이름</label>
                    <input type="text" class="form-control" id="authorName"
                           th:field="*{authorName}" required>
                </div>
                <div class="form-group">
                    <label for="publisherName">출판사 이름</label>
                    <input type="text" class="form-control" id="publisherName"
                           th:field="*{publisherName}" required>
                </div>
                <div class="form-group">
                    <label for="bookPublishDate">출판일</label>
                    <input type="date" class="form-control" id="bookPublishDate"
                           th:field="*{bookPublishDate}" required>
                </div>
                <div class="form-group">
                    <label for="bookStatusName">도서 상태</label>
                    <select class="form-control" id="bookStatusName"
                            th:field="*{bookStatusName}" required>
                        <option th:each="bookStatus : ${bookStatuses}"
                                th:value="${bookStatus.bookStatusName}"
                                th:text="${bookStatus.bookStatusName}">카테고리 선택
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>도서 설명</label>
                    <div id="toastUi"></div>
                    <input type="hidden" id="bookDescription"
                           name="bookDescription" th:field="*{bookDescription}">
                </div>
                <div class="form-group">
                    <label for="bookQuantity">재고 수량</label>
                    <input type="number" class="form-control" id="bookQuantity"
                           th:field="*{bookQuantity}" required>
                </div>
                <div class="form-group">
                    <label for="bookIsbn">도서 ISBN</label>
                    <input type="text" class="form-control" id="bookIsbn"
                           th:field="*{bookIsbn}" required>
                </div>
                <div class="form-group">
                    <label for="bookPrice">도서 정가</label>
                    <input type="number" class="form-control" id="bookPrice"
                           th:field="*{bookPrice}" required>
                </div>
                <div class="form-group">
                    <label for="bookSalePercent">할인율</label>
                    <input type="number" class="form-control" id="bookSalePercent"
                           th:field="*{bookSalePercent}" required>
                </div>
                <div class="form-group">
                    <label for="bookSalePrice">도서 할인가</label>
                    <input type="number" class="form-control" id="bookSalePrice"
                           th:field="*{bookSalePrice}" required>
                </div>
                <button type="submit" class="btn btn-primary">수정</button>
                <a class="btn btn-secondary" onclick="history.back()">취소</a>
            </form>
        </section>
    </section>
</section>

<footer th:insert="~{global/footer}"></footer>

<script th:src="@{/js/my-page.js}"></script>
<script th:src="@{/js/update-book.js}"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:inline="javascript">
    var categories = /*[[${categories}]]*/ [];      /* 카테고리 옵션들 추가 */
    var tags = /*[[${tags}]]*/ [];                  /* 태그 옵션들 추가 */
</script>
</body>
</html>