<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>결제하기</title>
    <!-- 토스페이먼츠 결제창 SDK 추가 -->
    <script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>
<script>
    // ------ 클라이언트 키로 객체 초기화 ------
    var clientKey = 'test_ck_yZqmkKeP8gW71xJ5LyXB8bQRxB9l'
    var tossPayments = TossPayments(clientKey)

    // ------ 결제창 띄우기 ------
    tossPayments
        .requestPayment('카드', {
            amount: '[[${price}]]',
            orderId: '[[${orderId}]]',
            orderName: '[[${orderName}]]',
            customerName: '[[${payerName}]]',
            successUrl: 'https://5ritang.store/api/payments/success',
            failUrl: 'https://5ritang.store/api/payments/fail',
        })
        .catch(function (error) {
            if (error.code === 'USER_CANCEL') {
            } else if (error.code === 'INVALID_CARD_COMPANY') {
            }
        })
</script>
</body>
</html>