<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>쿠폰템플릿 관리 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}"/>
    <style>
        /* 사용자 정의 CSS */
        .narrow-col {
            width: 80px;
        }
        .wide-col {
            width: 150px;
        }
        .highlighted {
            background-color: #f8f9fa;
            font-weight: bold;
        }
        .status-true {
            color: green;
        }
        .status-false {
            color: red;
        }
        .table th, .table td {
            vertical-align: middle;
        }
        .form-control {
            width: 100%; /* 너비를 100%로 설정하여 내용이 잘리거나 보이지 않지 않도록 합니다. */
            overflow: hidden; /* 오버플로우가 문제일 경우 사용 */
        }
    </style>
</head>
<body>

<!--=================================
   Header Area
   ===================================== -->

<div th:insert="~{global/header}"></div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <!-- Display Coupon List -->
            <h4>쿠폰템플릿 목록</h4>
            <table id="couponTable" class="table table-bordered">
                <thead>
                <tr>
                    <th class="narrow-col">쿠폰 아이디</th>
                    <th class="narrow-col">쿠폰 정책아이디</th>
                    <th class="wide-col">최소 주문금액</th>
                    <th class="wide-col">할인 금액</th>
                    <th class="wide-col">할인률</th>
                    <th class="wide-col">최대 할인금액</th>
                    <th class="wide-col">쿠폰 타입</th>
                    <th class="wide-col">만료일</th>
                    <th class="wide-col">발행일</th>
                    <th class="narrow-col">쿠폰 정책사용여부</th>
                    <th class="wide-col">카테고리 이름</th>
                    <th class="wide-col">도서 이름</th>
                    <th class="narrow-col">쿠폰 수량</th>
                </tr>
                </thead>
                <tbody>
                <!-- Loop through coupons and display each coupon -->
                <tr th:each="coupon : ${coupons}">
                    <td class="narrow-col">
                        <input type="text" class="form-control" th:value="${coupon.id != null ? coupon.id : '-'}" readonly>
                    </td>
                    <td class="narrow-col">
                        <input type="text" class="form-control" th:value="${coupon.couponPolicyId != null ? coupon.couponPolicyId : '-'}" readonly>
                    </td>
                    <td class="wide-col">
                        <input type="text" class="form-control" th:value="${coupon.minOrderPrice != null ? coupon.minOrderPrice : '-'}" readonly>
                    </td>
                    <td class="wide-col">
                        <input type="text" class="form-control" th:value="${coupon.salePrice != null ? coupon.salePrice : '-'}" readonly>
                    </td>
                    <td class="wide-col">
                        <input type="text" class="form-control" th:value="${coupon.saleRate != null ? coupon.saleRate : '-'}" readonly>
                    </td>
                    <td class="wide-col">
                        <input type="text" class="form-control" th:value="${coupon.maxSalePrice != null ? coupon.maxSalePrice : '-'}" readonly>
                    </td>
                    <td class="wide-col">
                        <input type="text" class="form-control" th:value="${coupon.type != null ? coupon.type : '-'}" readonly>
                    </td>
                    <td class="wide-col">
                        <input type="text" class="form-control" th:value="${coupon.expiredDate != null ? coupon.expiredDate : '-'}">
                    </td>
                    <td class="wide-col">
                        <input type="text" class="form-control" th:value="${coupon.issueDate != null ? coupon.issueDate : '-'}">
                    </td>
                    <td class="narrow-col">
                        <input type="text" class="form-control status-true" th:if="${coupon.isUsed}" th:value="'사용'" readonly>
                        <input type="text" class="form-control status-false" th:if="${!coupon.isUsed}" th:value="'폐기'" readonly>
                    </td>
                    <td class="wide-col">
                        <input type="text" class="form-control" th:value="${coupon.categoryName != null ? coupon.categoryName : '-'}" th:if="${coupon.type == 'category'}">
                    </td>
                    <td class="wide-col">
                        <input type="text" class="form-control" th:value="${coupon.bookTitle != null ? coupon.bookTitle : '-'}" th:if="${coupon.type == 'book'}">
                    </td>
                    <td class="narrow-col">
                        <input type="text" class="form-control" th:value="${coupon.quantity != null ? coupon.quantity : '-'}" readonly>
                    </td>
                </tr>
                </tbody>
            </table>


            <div th:insert="~{global/paging}"></div>

        </div>
    </div>

</div>
<!--=================================
            Footer Area
===================================== -->
<div th:insert="~{global/footer}"></div>
</body>
</html>
