<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>쿠폰정책관리페이지-관리자</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .search-results {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            position: absolute;
            width: 100%;
            z-index: 1000;
            background-color: #fff;
        }

        .search-result {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .search-result:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div class="container">
    <main class="page-section inner-page-sec-padding-bottom">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
                <!-- Create Coupon Policy Form -->
                <form action="/coupons/policies" method="post">
                    <div class="form-group">
                        <h4 class="form-title">쿠폰 정책 발행</h4>
                        <label for="minOrderPrice">Min Order Price</label>
                        <input type="text" class="form-control" id="minOrderPrice" name="minOrderPrice" required>
                        <label for="salePrice">Sale Price</label>
                        <input type="text" class="form-control" id="salePrice" name="salePrice" required>
                        <label for="saleRate">Sale Rate</label>
                        <input type="text" class="form-control" id="saleRate" name="saleRate" required>
                        <label for="maxSalePrice">Max Sale Price</label>
                        <input type="text" class="form-control" id="maxSalePrice" name="maxSalePrice" required>
                        <label for="type">Type</label>
                        <select class="form-control" id="type" name="type" required onchange="showFields(this.value)">
                            <option value="">Select Coupon Type</option>
                            <option value="welcome">가입쿠폰</option>
                            <option value="birthday">생일쿠폰</option>
                            <option value="book">도서쿠폰</option>
                            <option value="category">카테고리쿠폰</option>
                            <option value="sale">할인쿠폰</option>
                        </select>
                        <!-- Additional Fields for Books and Categories -->

                        <button type="submit" class="btn btn-primary mt-2">Create</button>
                        <div id="bookFields" style="display: none;">
                            <label for="bookSearch">Search Book</label>
                            <input type="text" class="form-control" id="bookSearch" name="bookSearch">
                            <div id="bookSearchResults" class="search-results"></div>
                            <label for="bookTitle">Book Title</label>
                            <input type="text" class="form-control" id="bookTitle" name="bookTitle" readonly>
                            <input type="hidden" id="bookId" name="bookId">
                        </div>

                        <div id="categoryFields" style="display: none;">
                            <label for="categorySearch">Search Category</label>
                            <input type="text" class="form-control" id="categorySearch" name="categorySearch">
                            <div id="categorySearchResults" class="search-results"></div>
                            <label for="categoryName">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName" readonly>
                            <input type="hidden" id="categoryId" name="categoryId">
                        </div>



                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <!-- Display Coupon Policies -->
                <h4>Coupon Policies</h4>
                <table id="couponTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Coupon Policy Id</th>
                        <th>Min Order Price</th>
                        <th>Sale Price</th>
                        <th>Sale Rate</th>
                        <th>Max Sale Price</th>
                        <th>Type</th>
                        <th>Used</th>
                        <th>categoryName</th>
                        <th>bookTitle</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Loop through coupon policies and display each policy -->
                    <tr th:each="policy : ${policies}" id="policy-row">
                        <td><input type="text" class="form-control couponPolicyId" th:value="${policy.id}"
                                   readonly></td>
                        <td><input type="text" class="form-control minOrderPrice" th:value="${policy.minOrderPrice}">
                        </td>
                        <td><input type="text" class="form-control salePrice" th:value="${policy.salePrice}"></td>
                        <td><input type="text" class="form-control saleRate" th:value="${policy.saleRate}"></td>
                        <td><input type="text" class="form-control maxSalePrice" th:value="${policy.maxSalePrice}"></td>
                        <td><input type="text" class="form-control type" th:value="${policy.type}" readonly></td>
                        <td><input type="text" class="form-control isUsed" th:value="${policy.isUsed}" readonly></td>
                        <td><input type="text" class="form-control categoryName" th:value="${policy.categoryName}" readonly></td>
                        <td><input type="text" class="form-control bookTitle" th:value="${policy.bookTitle}" readonly></td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-sm editBtn"
                                        th:data-policy-id="${policy.id}">Edit
                                </button>
                                <button class="btn btn-success btn-sm addBtn" th:data-policy-id="${policy.id}" data-toggle="modal" data-target="#addCouponModal"
                                        th:if="${policy.type == 'sale' or policy.type == 'book' or policy.type == 'category'}">
                                    Add Coupon
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center mt-4">
                        <!-- 첫번째 페이지로 이동 -->
                        <li class="page-item" th:classappend="${policies.first} ? 'disabled'">
                            <a class="page-link" th:href="@{/coupons/policies(page=1, size=${policies.size})}" aria-label="First">
                                <span aria-hidden="true">&laquo; First</span>
                            </a>
                        </li>


                        <li class="page-item" th:classappend="${policies.first} ? 'disabled'">
                            <a class="page-link" th:href="${policies.first} ? '#' : '/coupons/policies?page=' + ${policies.number}+'&size='+${policies.size}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo; Previous</span>
                            </a>
                        </li>

                        <!-- 페이지 번호 링크 -->
                        <li class="page-item" th:each="page: ${#numbers.sequence(startPage, endPage)}"
                            th:classappend="${page == policies.number + 1} ? 'active'">
                            <a class="page-link" th:href="@{/coupons/policies(page=${page}, size=${policies.size})}" th:text="${page}"></a>
                        </li>

                        <!-- 다음 페이지로 이동  둘다 가능한 방법 -->
                        <li class="page-item" th:classappend="${policies.last} ? 'disabled'">
                            <a class="page-link" th:href="${policies.last} ? '#' : '/coupons/policies?page=' + (${policies.number} + 2)+'&size='+${policies.size}" aria-label="Next">
                                <span aria-hidden="true">Next &rsaquo;</span>
                            </a>
                        </li>

                        <!-- 마지막 페이지로 이동 -->
                        <li class="page-item" th:classappend="${policies.last} ? 'disabled'">
                            <a class="page-link" th:href="@{/coupons/policies(page=${policies.totalPages}, size=${policies.size})}" aria-label="Last">
                                <span aria-hidden="true">Last &raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </main>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>

    // Function to show additional fields based on selected type
    function showFields(selectedType) {
        $('#bookFields').hide();
        $('#categoryFields').hide();

        if (selectedType === 'book') {
            $('#bookFields').show();
        } else if (selectedType === 'category') {
            $('#categoryFields').show();
        }
    }

    // Function to show additional fields based on selected type
    function showFields(selectedType) {
        $('#bookFields').hide();
        $('#categoryFields').hide();

        if (selectedType === 'book') {
            $('#bookFields').show();
        } else if (selectedType === 'category') {
            $('#categoryFields').show();
        }
    }

    $(document).ready(function() {
        // 도서 검색 기능
        $('#bookSearch').on('input', function() {
            var query = $(this).val();
            if (query.length > 1) { // 3자 이상 입력 시 검색
                $.ajax({
                    url: '/api/books/search/test',
                    type: 'GET',
                    data: { key: query },
                    success: function(data) {
                        $('#bookSearchResults').html('');
                        data.forEach(function(book) {
                            $('#bookSearchResults').append('<div class="search-result book-result" data-id="' + book.bookId + '" data-title="' + book.bookTitle + '">' + book.bookTitle + '</div>');
                        });
                        // 결과 클릭 시 처리
                        $('.book-result').on('click', function() {
                            var bookId = $(this).data('id');
                            var bookTitle = $(this).data('title');
                            $('#bookId').val(bookId);
                            $('#bookTitle').val(bookTitle);
                            $('#bookSearch').val(bookTitle);
                            $('#bookSearchResults').html('');
                        });
                    }
                });
            } else {
                $('#bookSearchResults').html('');
            }
        });

        // 카테고리 검색 기능
        $('#categorySearch').on('input', function() {
            var query = $(this).val();
            if (query.length > 1) { // 3자 이상 입력 시 검색
                $.ajax({
                    url: '/api/categories/search/test',
                    type: 'GET',
                    data: { key: query },
                    success: function(data) {
                        $('#categorySearchResults').html('');
                        data.forEach(function(category) {
                            $('#categorySearchResults').append('<div class="search-result category-result" data-id="' + category.categoryId + '" data-name="' + category.categoryName+'">' + category.categoryName  +'</div>');
                        });
                        // 결과 클릭 시 처리
                        $('.category-result').on('click', function() {
                            var categoryId = $(this).data('id');
                            var categoryName = $(this).data('name');
                            $('#categoryId').val(categoryId);
                            $('#categoryName').val(categoryName);
                            $('#categorySearch').val(categoryName);
                            $('#categorySearchResults').html('');
                        });
                    }
                });
            } else {
                $('#categorySearchResults').html('');
            }
        });
    });

    $(document).ready(function() {
        $('#couponTable').on('click', '.addBtn', function(e) {
            e.preventDefault();

            var policyId = $(this).data('policy-id');
            $('#couponPolicyId').val(policyId);
            $('#expiredDate').val(formatDateTime(new Date())); // 현재 날짜와 시간을 적절한 형식으로 설정
            $('#issueDate').val(formatDateTime(new Date())); // 현재 날짜와 시간을 적절한 형식으로 설정

            $('#addCouponModal').modal('show');
        });
    });

    $('#couponTable').on('click', '.editBtn', function (e) {
        e.preventDefault();
        var policyId = $(this).data('policy-id');
        var row = $(this).closest('tr');



        // 폼 데이터 채우기
        $('#policyIdEdit').val(row.find('.couponPolicyId').val());
        $('#minOrderPriceEdit').val(row.find('.minOrderPrice').val());
        $('#salePriceEdit').val(row.find('.salePrice').val());
        $('#saleRateEdit').val(row.find('.saleRate').val());
        $('#maxSalePriceEdit').val(row.find('.maxSalePrice').val());
        $('#typeEdit').val(row.find('.type').val());

        var isUsedValue = row.find('.isUsed').val();
        // Set the radio button based on the value
        if (isUsedValue === "true") {
            $('#isUsedTrue').prop('checked', true);
        } else if (isUsedValue === "false") {
            $('#isUsedFalse').prop('checked', true);
        }
        $('#categoryNameEdit').val(row.find('.categoryName').val());
        $('#bookTitleEdit').val(row.find('.bookTitle').val());

        // `th:action` URL 업데이트
        $('#editCouponForm').attr('action', '/coupons/policies/' + policyId);

        $('#editModal').modal('show'); // 수정 모달 표시
    });


</script>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editCouponForm" action="" method="post">
                <input type="hidden" name="_method" value="patch">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Coupon Policy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="policyIdEdit">Policy Id</label>
                        <input type="text" class="form-control" id="policyIdEdit" name="couponPolicyId" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="minOrderPriceEdit">Min Order Price</label>
                        <input type="text" class="form-control" id="minOrderPriceEdit" name="minOrderPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="salePriceEdit">Sale Price</label>
                        <input type="text" class="form-control" id="salePriceEdit" name="salePrice" required>
                    </div>
                    <div class="form-group">
                        <label for="saleRateEdit">Sale Rate</label>
                        <input type="text" class="form-control" id="saleRateEdit" name="saleRate" required>
                    </div>
                    <div class="form-group">
                        <label for="maxSalePriceEdit">Max Sale Price</label>
                        <input type="text" class="form-control" id="maxSalePriceEdit" name="maxSalePrice" required>
                    </div>
                    <div class="form-group">
                        <label for="typeEdit">Type</label>
                        <input type="text" class="form-control" id="typeEdit" name="type" readonly>
                    </div>
                    <div class="form-group">
                        <label>Used</label><br>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="isUsedTrue" name="isUsed" value="true" required>
                            <label class="form-check-label" for="isUsedTrue">True</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="isUsedFalse" name="isUsed" value="false">
                            <label class="form-check-label" for="isUsedFalse">False</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="categoryNameEdit">categoryName</label>
                        <input type="text" class="form-control" id="categoryNameEdit" name="categoryName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="bookTitleEdit">bookTitle</label>
                        <input type="text" class="form-control" id="bookTitleEdit" name="bookTitle" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Add Coupon Modal -->
<div class="modal fade" id="addCouponModal" tabindex="-1" role="dialog" aria-labelledby="addCouponModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="addCouponForm" action="/coupons" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCouponModalLabel">Add Coupon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="couponPolicyId">Coupon Policy ID</label>
                        <input type="text" class="form-control" id="couponPolicyId" name="couponPolicyId">
                    </div>
                    <div class="form-group">
                        <label for="expiredDate">Expired Date</label>
                        <input type="datetime-local" class="form-control" id="expiredDate" name="expiredDate">
                    </div>
                    <div class="form-group">
                        <label for="issueDate">Issue Date</label>
                        <input type="datetime-local" class="form-control" id="issueDate" name="issueDate">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Coupon</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>