<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/point/point.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
</head>

<body>
<header th:insert="~{global/header}"></header>

<section id="page" class="top-container">
    <section id="page-menu-container" th:insert="~{fragments/user-menu.html}"></section>
    <section id="page-content">
        <section id="page-header">
            <h5>포인트 내역 조회</h5>
        </section>
        <hr style="width: 100%"/>
        <section id="page-body">
            <div th:if="${pointTransactions != null}">
                <div class="order-item">
                    <table class="point-check-table">
                        <!-- Head Row -->
                        <thead>
                        <tr>
                            <th class="pro-title">포인트 정책 타입</th>
                            <th class="pro-price">포인트 내역</th>
                            <th class="pro-date">날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Product Row -->
                        <tr th:each="point : ${pointTransactions}" th:if="${point.pointTransactionAmount() != 0}">
                            <td class="pro-title">
                                <span th:if="${point.pointEarningPolicyType() == 'REGULAR'}"
                                      th:text="${point.pointEarningPolicyType()} + ' 멤버십'"></span>
                                <span th:if="${point.pointEarningPolicyType() == 'ROYAL'}"
                                      th:text="${point.pointEarningPolicyType()} + ' 멤버십'"></span>
                                <span th:if="${point.pointEarningPolicyType() == 'GRAND'}"
                                      th:text="${point.pointEarningPolicyType()} + ' 멤버십'"></span>
                                <span th:if="${point.pointEarningPolicyType() == 'PRESTIGE'}"
                                      th:text="${point.pointEarningPolicyType()} + ' 멤버십'"></span>
                                <span th:unless="${point.pointEarningPolicyType() == 'REGULAR' or point.pointEarningPolicyType() == 'ROYAL' or point.pointEarningPolicyType() == 'GRAND' or point.pointEarningPolicyType() == 'PRESTIGE'}"
                                      th:text="${point.pointEarningPolicyType()}"></span>
                            </td>

                            <td class="pro-price"> <span
                                    th:text="${point.pointTransactionAmount().setScale(0)} + 원"></span>
                            </td>
                            <td class="pro-date"><span
                                    th:text="${point.pointTransactionDate().toString().split('T')[0]} + ' ' + ${#strings.substring(point.pointTransactionDate().toString().split('T')[1], 0, 8)}"></span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:insert="~{global/paging.html}"></div>
            </div>
            <div th:if="${pointTransactions == null}">
                <p>포인트 내역이 없습니다.</p>
            </div>
        </section>
    </section>
</section>

<div th:insert="~{fragments/to-admin-button}"></div>

<footer th:insert="~{global/footer}"></footer>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>