<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/footer/footer.css}"/>

<section id="#footer">
    <div class="top-container footer-container">
        <div class="footer-logo-container">
            <br/>
            <img style="width: 200px" th:src="@{/image/ORITANG_FOOTER_BANNER.png}" alt="">
            <table>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td style="text-align: end"><span style="font-weight: bold">주소</span></td>
                    <td>
                        <div style="width: 0.5rem"></div>
                    </td>
                    <td><span>광주광역시 동구 조선대5길 65</span></td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td style="text-align: end"><span style="font-weight: bold">사업자</span></td>
                    <td>
                        <div style="width: 0.5rem"></div>
                    </td>
                    <td><span>NHN아카데미 광주캠퍼스</span></td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td style="text-align: end"><span style="font-weight: bold">이메일</span></td>
                    <td>
                        <div style="width: 0.5rem"></div>
                    </td>
                    <td><span>monte61984@gmail.com</span></td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
            </table>
        </div>
        <div class="footer-second-container">
            <br/>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center">
                <img style="width: 200px; margin: 26px 0;" th:src="@{/image/ABOUT_US.png}" alt="">
            </div>
            <table>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td>
                        <div class="name-tag">
                            <span>김기욱</span>
                        </div>
                    </td>
                    <td>
                        <div class="name-tag">
                            <span>김다운</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td>
                        <div class="name-tag">
                            <span>이경헌</span>
                        </div>
                    </td>
                    <td>
                        <div class="name-tag">
                            <span>이기훈</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td>
                        <div class="name-tag">
                            <span>김태환</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
            </table>
        </div>
        <div class="footer-second-container">
            <br/>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center">
                <img style="width: 200px" th:src="@{/image/SWAGGER.png}" alt="">
            </div>
            <table>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td>
                        <span>스토어 API</span>
                    </td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td>
                        <span>쿠폰 API</span>
                    </td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td>
                        <span>인증 API</span>
                    </td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="copyright-container">
        <span>Copyright © 2024 Monte. All Right Reserved.</span>
    </div>
</section>