<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/header/header.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>

<section id="header">
    <div class="auth-container top-container">
        <img th:src="@{/image/NHN_ACADEMY_LOGO.png}" alt="">
        <div class="profile-container">
        </div>
    </div>

    <div class="top-container logo-search-container">
        <div class="logo-container">
            <a th:href="@{/main}" class="site-brand">
                <img class="logo-image" th:src="@{/image/ORITANG_BANNER_LIGHT.png}" alt="">
            </a>
        </div>
        <div>
            <form class="search-form" action="/api/search" method="get">
                <select name="searchType" class="search-type">
                    <option value="books">도서</option>
                    <option value="authors">저자</option>
                    <option value="publisher">출판사</option>
                    <option value="tag">태그</option>
                </select>
                <label>
                    <input class="search-input" type="text" name="query" placeholder="찾고 싶은 도서를 검색해보세요">
                </label>
                <button class="search-button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="top-container">
        <hr>
    </div>

    <div class="menu-container top-container">
        <div class="menu-category-container">
            <button id="category-menu-button" class="menu-button">
                <i class="fa-solid fa-bars"></i>
                <span class="menu-tag">카테고리</span>
            </button>
        </div>
        <div class="categories-container">
            <div th:each="category : ${categoriesCache}" th:if="${#strings.isEmpty(category.parentCategoryName)}">
                <a th:href="@{/products/category (categoryName=${category.categoryName})}"
                   th:text="${category.categoryName}"
                   th:id="${category.categoryName}"></a>
                <div class="sub-menu">
                    <ul>
                        <li th:each="subCategory : ${categoriesCache}"
                            th:if="${subCategory.parentCategoryName == category.categoryName}">
                            <a th:href="@{/products/category (categoryName=${subCategory.categoryName})}"
                               th:text="${subCategory.categoryName}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="menu-button-container">
            <a th:href="@{/api/wishLists}">
                <div class="menu-button">
                    <i class="fa-solid fa-heart"></i>
                    <span class="menu-tag">좋아요</span>
                    <!--                    TODO: 클릭하면 로그인으로 redirect-->
                </div>
            </a>
            <a th:href="@{/api/carts/me}">
                <div class="menu-button">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="menu-tag">장바구니</span>
                </div>
            </a>
            <a th:href="@{/api/orders/orderCheck/Non}">
                <div class="menu-button">
                    <i class="fa-regular fa-user"></i>
                    <span class="menu-tag">비회원</span>
                    <!--                    TODO: 로그인 하면 비회원 제거-->
                </div>
            </a>
            <a th:href="@{/users/my-page}">
                <div class="menu-button">
                    <i class="fa-solid fa-user"></i>
                    <span class="menu-tag">마이페이지</span>
                </div>
            </a>
            <a th:href="@{/coupons/issue}">
                <div class="menu-button">
                    <i class="fa-solid fa-ticket-alt"></i>
                    <span class="menu-tag">쿠폰</span>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- 로그인 상태에 따라 헤더 변경 -->
<script th:src="@{/js/header/login.js}"></script>
<script th:src="@{/js/header/jwt-utils.js}"></script>
<script th:src="@{/js/header/categories.js}"></script>
