<div th:if="${objects.getTotalElements() > 0}">
    <ul class="pagination justify-content-center mt-4">
        <!-- 첫번째 페이지로 이동 -->
        <li class="page-item" th:classappend="${objects.first} ? 'disabled'">
            <a class="page-link" th:href="@{${baseUrl} (page=1, size=${objects.size})}" aria-label="First">
                <span aria-hidden="true"><i class="fa-solid fa-angles-left"></i></span>
            </a>
        </li>
        <!-- 이전 페이지로 이동 -->
        <li class="page-item" th:classappend="${objects.first} ? 'disabled'">
            <a class="page-link"
               th:href="${objects.first} ? '#' : ${baseUrl} + '?page=' + ${objects.number} + '&size=' + ${objects.size}"
               aria-label="Previous">
                <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
            </a>
        </li>
        <!-- 페이지 번호 링크 -->
        <li class="page-item" th:each="page: ${#numbers.sequence(startPage, endPage)}"
            th:classappend="${page == objects.number + 1} ? 'active'">
            <a class="page-link" th:href="@{${baseUrl} (page=${page}, size=${objects.size})}" th:text="${page}"></a>
        </li>
        <!-- 다음 페이지로 이동 -->
        <li class="page-item" th:classappend="${objects.last} ? 'disabled'">
            <a class="page-link"
               th:href="${objects.last} ? '#' : ${baseUrl} + '?page=' + (${objects.number} + 2)+'&size='+${objects.size}"
               aria-label="Next">
                <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
            </a>
        </li>
        <!-- 마지막 페이지로 이동 -->
        <li class="page-item" th:classappend="${objects.last} ? 'disabled'">
            <a class="page-link" th:href="@{${baseUrl} (page=${objects.totalPages}, size=${objects.size})}"
               aria-label="Last">
                <span aria-hidden="true"><i class="fa-solid fa-angles-right"></i></span>
            </a>
        </li>
    </ul>
</div>