<div class="myaccount-tab-menu nav" role="tablist">

    <a th:href="@{/}"><i class="fa fa-user"></i> 회원</a>
    <a th:href="@{/api/books/page}"><i class="fa fa-book"></i> 도서</a>
    <a th:href="@{/api/bookStatuses}"><i class="fa fa-book"></i> 도서상태</a>
    <a th:href="@{/api/reviews/page}"><i class="fa fa-comments"></i> 리뷰</a>
    <a th:href="@{/api/categories/page}"><i class="fa fa-book"></i> 카테고리</a>
    <a th:href="@{/api/tags/page}"><i class="fa fa-book"></i> 태그</a>
    <a th:href="@{/api/publishers/page}"><i class="fa fa-book"></i> 출판사</a>
    <a th:href="@{/api/authors/page}"><i class="fa fa-book"></i> 작가</a>
    <a th:href="@{/api/orders/admin}"><i class="fa fa-shopping-cart"></i> 주문</a>
    <a th:href="@{/api/deliveryPolicies}"><i class="fa fa-truck"></i> 배송비정책</a>
    <a th:href="@{/api/deliveryStatuses}"><i class="fa fa-cogs"></i> 배송상태</a>
    <a th:href="@{/}"><i class="fa fa-ticket-alt"></i> 쿠폰</a>
    <a th:href="@{/api/point/admin}"><i class="fa fa-star"></i> 포인트</a>
    <a th:href="@{/api/orders/admin/paper}"><i class="fa fa-gift"></i> 포장지</a>
    <a th:href="@{/}"><i class="fa fa-question-circle"></i> 문의</a>
</div>