<a th:href="@{/admin/users}">
    <div class="my-page-menu-icon"><i class="fa fa-user"></i></div>
    회원
</a>
<a th:href="@{/books}">
    <div class="my-page-menu-icon"><i class="fa fa-book"></i></div>
    도서
</a>
<a th:href="@{/book-statuses}">
    <div class="my-page-menu-icon"><i class="fa fa-book"></i></div>
    도서상태
</a>
<a th:href="@{/reviews}">
    <div class="my-page-menu-icon"><i class="fa fa-comments"></i></div>
    리뷰
</a>
<a th:href="@{/api/categories/page}">
    <div class="my-page-menu-icon"><i class="fa fa-book"></i></div>
    카테고리
</a>
<a th:href="@{/api/tags/page}">
    <div class="my-page-menu-icon"><i class="fa fa-book"></i></div>
    태그
</a>
<a th:href="@{/api/publishers/page}">
    <div class="my-page-menu-icon"><i class="fa fa-book"></i></div>
    출판사
</a>
<a th:href="@{/api/authors/page}">
    <div class="my-page-menu-icon"><i class="fa fa-book"></i></div>
    작가
</a>
<a th:href="@{/api/orders/admin}">
    <div class="my-page-menu-icon"><i class="fa fa-shopping-cart"></i></div>
    주문
</a>
<a th:href="@{/delivery-policies}">
    <div class="my-page-menu-icon"><i class="fa fa-truck"></i></div>
    배송비정책
</a>
<a th:href="@{/delivery-statuses}">
    <div class="my-page-menu-icon"><i class="fa fa-cogs"></i></div>
    배송상태
</a>
<a th:href="@{/coupons/policies}">
    <div class="my-page-menu-icon"><i class="fa fa-ticket-alt"></i></div>
    쿠폰정책
</a>
<a th:href="@{/coupons}">
    <div class="my-page-menu-icon"><i class="fa fa-ticket-alt"></i></div>
    쿠폰템플릿
</a>
<a th:href="@{/coupons/users}">
    <div class="my-page-menu-icon"><i class="fa fa-ticket-alt"></i></div>
    사용자쿠폰
</a>
<a th:href="@{/api/point/admin}">
    <div class="my-page-menu-icon"><i class="fa fa-star"></i></div>
    포인트
</a>
<a th:href="@{/api/orders/admin/paper}">
    <div class="my-page-menu-icon"><i class="fa fa-gift"></i></div>
    포장지
</a>
<a th:href="@{/api/orders/admin/order-status}">
    <div class="my-page-menu-icon"><i class="fa fa-clipboard-list"></i></div>
    주문 상태
</a>
<a th:href="@{/}">
    <div class="my-page-menu-icon"><i class="fa fa-question-circle"></i></div>
    문의
</a>
<a th:href="@{/api/orders/orderCheck}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-circle-dollar-to-slot"></i></div>
    회원 주문 내역
</a>
<a th:href="@{/}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-truck"></i></div>
    배송 내역
</a>
<a th:href="@{/coupons/users/user}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-ticket"></i></div>
    쿠폰 내역
</a>
<a th:href="@{/caches}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-database"></i></div>
    캐싱 관리
</a>