<div class="myaccount-tab-menu nav" role="tablist">
    <!-- 배송 정책 탭 -->
    <a th:href="@{/deliveries-policies}"><i class="fa fa-truck"></i> 배송비정책</a>

    <!-- 배송 상태 탭 -->
    <a th:href="@{/deliveries-statuses}"><i class="fa fa-cogs"></i> 배송상태</a>

    <a th:href="@{/}"><i class="fa fa-ticket-alt"></i> 쿠폰</a>
    <a th:href="@{/}"><i class="fa fa-star"></i> 포인트</a>
    <a th:href="@{/books}"><i class="fa fa-book"></i> 도서</a>
    <a th:href="@{/bookStatuses}"><i class="fa fa-book"></i> 도서상태</a>
    <a th:href="@{/tags}"><i class="fa fa-book"></i> 태그</a>
    <a th:href="@{/categories}"><i class="fa fa-book"></i> 카테고리</a>
    <a th:href="@{/publishers}"><i class="fa fa-book"></i> 출판사</a>
    <a th:href="@{/authors}"><i class="fa fa-book"></i> 작가</a>
    <a th:href="@{/}"><i class="fa fa-shopping-cart"></i> 주문</a>
    <a th:href="@{/}"><i class="fa fa-user"></i> 회원</a>
    <a th:href="@{/}"><i class="fa fa-question-circle"></i> 문의</a>
</div>