<div class="myaccount-tab-menu nav" role="tablist">
    <!-- 배송 정책 탭 -->
    <a th:href="@{/deliveries-policies}"><i class="fa fa-truck"></i> 배송 정책</a>

    <!-- 배송 상태 탭 -->
    <a th:href="@{/deliveries-statuses}"><i class="fa fa-cogs"></i> 배송 상태</a>

    <a href="#coupon"><i class="fa fa-ticket-alt"></i> 쿠폰</a>
    <a href="#point"><i class="fa fa-star"></i> 포인트</a>
    <a href="#books"><i class="fa fa-book"></i> 도서</a>
    <a href="#orders"><i class="fa fa-shopping-cart"></i> 주문</a>
    <a href="#members"><i class="fa fa-user"></i> 회원</a>
    <a href="#inquiries"><i class="fa fa-question-circle"></i> 문의</a>
</div>