<a th:href="@{/users/my-page}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-user"></i></div>
    내 정보
</a>
<a th:href="@{/api/orders/orderCheck}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-circle-dollar-to-slot"></i></div>
    회원 주문 내역
</a>
<a th:href="@{/api/users/me/reviews/page}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-comments"></i></div>
    리뷰 내역
</a>
<a th:href="@{/api/deliveries/me/page}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-truck"></i></div>
    배송 내역
</a>
<a th:href="@{/api/point-transactions}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-star"></i></div>
    포인트 내역
</a>
<a th:href="@{/coupons/users/user}">
    <div class="my-page-menu-icon"><i class="fa-solid fa-ticket"></i></div>
    쿠폰 내역
</a>