<div class="myaccount-tab-menu nav" role="tablist">
    <a th:href="@{/}" class="active" ><i class="fas fa-tachometer-alt"></i> 대시보드</a>
    <a th:href="@{/}"><i class="fas fa-download"></i> 다운로드</a>
    <a th:href="@{/}"><i class="fa fa-credit-card"></i> 결제 수단</a>
    <a th:href="@{/}"><i class="fa fa-map-marker"></i> 주소 관리</a>
    <a th:href="@{/}"><i class="fa fa-user"></i> 계정 정보</a>
    <a th:href="@{/}"><i class="fa fa-cart-arrow-down"></i> 주문 내역</a>
    <a th:href="@{/}"><i class="fa fa-money-check-alt"></i> 결제 내역</a>
    <a th:href="@{/}"><i class="fa fa-comments"></i> 리뷰 내역</a>
    <a th:href="@{/}"><i class="fa fa-truck"></i> 배송 내역</a>
    <a th:href="@{/}"><i class="fa fa-star"></i> 포인트 내역</a>
    <a th:href="@{/}"><i class="fa fa-ticket-alt"></i> 쿠폰 내역</a>
    <a th:href="@{/}"><i class="fas fa-sign-out-alt"></i> 로그아웃</a>
</div>