<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main/main.css}"/>
    <!--    <link rel="stylesheet" th:href="@{/css/pages/bookCart.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/cart/cart.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
</head>

<body>
<header th:insert="~{global/header}"></header>
<section id="bookcart" class="top-container">
    <h3 style="color: #797979">장바구니</h3>
    <hr style="margin: 2rem 0">
    <div class="bookCart_cart_area inner-page-sec-padding-bottom">
        <div class="container cart-container">
            <table id="bookcart-table">
                <thead>
                <tr style="font-size: 1rem">
                    <th>상품 정보</th>
                    <th>주문 수량</th>
                    <th>주문 금액</th>
                    <th>주문</th>
                </tr>
                </thead>
                <tbody th:if="${bookCarts != null}">
                <tr th:each="bookCart : ${bookCarts}" class="bookCart_item">
                    <td class="bookCart_book_info">
                        <div class="bookCart_info_wrapper cart-book-data">
                            <div class="bookCart_image">
                                <a th:href="@{/api/books/{bookId} (bookId=${bookCart.bookId})}">
                                    <div class="bookcart-thumbnail">
                                        <img class="background-thumbnail" th:src="${bookCart.bookImageUrl}"
                                             alt="Book Image">
                                        <img class="front-thumbnail" th:src="${bookCart.bookImageUrl}" alt="Book Image">
                                    </div>
                                </a>
                            </div>
                            <div class="cart-book-text-info">
                                <a style="font-size: 1.5rem; font-weight: bold; color: #797979"
                                   th:href="@{/api/books/{bookId} (bookId=${bookCart.bookId})}"
                                   th:text="${bookCart.bookTitle}">
                                    Book Title
                                </a>
                                <br/>
                                <div style="text-align: start">
                                    <span style="color: #797979" th:text="${bookCart.authorName}">Author</span>
                                    <span style="color: #a8a8a8">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                    <span style="color: #797979" th:text="${bookCart.publisherName}">Publisher</span>
                                    <p class="bookCart_inventoryQuantity" style="color: #797979"
                                       th:text="'재고: ' + ${bookCart.inventorQuantity} + '권'"></p>
                                </div>
                                <br/>
                                <div style="width: 100%; display: flex; justify-content: space-between; align-items: center">
                                    <div>
                                        <span style="font-size: 1rem; color: #797979">현재가&nbsp;</span>
                                        <span style="font-size: 1.4rem; color: #333333"
                                              th:text="${bookCart.bookSalePrice} + ' ₩'">Price</span>
                                    </div>
                                    <div style="display: flex; flex-direction: column; margin-left: 2rem">
                                    <span style="font-size: 0.9rem; color: #797979; text-decoration: line-through"
                                          th:text="${bookCart.bookPrice() + ' ₩'}">Original Price</span>
                                        <span style="font-size: 0.9rem; color: #D90000"
                                              th:text="'-' + ${bookCart.bookSalePercent} + '%'">Discount</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bookCart_details" style="display: none;">
                                <a style="font-size: 1.5rem; font-weight: bold; color: #797979" class="bookCart_title"
                                   th:href="@{/api/books/{bookId} (bookId=${bookCart.bookId})}"
                                   th:text="${bookCart.bookTitle}">Book Title</a>

                                <p class="bookCart_price">
                                    <span th:text="${bookCart.bookSalePrice} + '원'">11,700원</span>
                                    <span class="bookCart_regular_price"
                                          th:text="${bookCart.bookPrice} + '원'">13,000원</span>
                                    <span class="bookCart_discount"
                                          th:text="'(' + ${bookCart.bookSalePercent} + '% 할인)'">(10% 할인)</span>
                                </p>
                                <p class="bookCart_inventoryQuantity"
                                   th:text="'재고: ' + ${bookCart.inventorQuantity}"></p>
                            </div>
                        </div>
                    </td>
                    <td class="bookCart_quantity">
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                            <div>
                                <button style="position: relative; left: 20px" class="bookCart_decrement">-
                                </button>
                                <input style="width: 5rem; text-align: center" type="number" th:name="bookQuantity"
                                       th:value="${bookCart.bookQuantity}" min="1"
                                       th:data-book-id="${bookCart.bookId}">
                                <button style="position: relative; right: 20px" class="bookCart_increment">+
                                </button>
                            </div>
                            <form th:action="@{/api/carts/me/{bookId} (bookId=${bookCart.bookId})}"
                                  th:method="put">
                                <button type="submit" class="bookCart_change">변경</button>
                            </form>
                        </div>
                    </td>
                    <td class="bookCart_total inline-text" style="width: 120px; text-align: center">
                        <span th:text="${bookCart.bookSalePrice * bookCart.bookQuantity} + '원'">23,400원</span>
                    </td>
                    <td class="add-to-bookCart">
                        <div class="bookcart-actions">
                            <button id="bookcart-order-button"
                                    th:onclick="'createBookOrder(' + ${bookCart.bookId} + ')'"
                                    type="button">
                                <i class="fa-solid fa-circle-dollar-to-slot"></i>
                                <span>주문</span>
                            </button>
                            <button id="bookcart-wishlist-button" th:attr="data-book-id=${bookCart.bookId}"
                                    class="add-to-wishlist">
                                <i class="fa-solid fa-heart"></i>
                                <span>좋아요</span>
                            </button>
                            <form th:action="@{/api/carts/me/{bookId} (bookId=${bookCart.bookId})}"
                                  th:method="delete"
                                  style="display: flex; flex-direction: column; justify-content: space-around; align-items: center">
                                <button id="bookcart-delete-button" type="submit">
                                    <i class="fa-solid fa-trash"></i>
                                    <span>삭제</span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="bookCart_summary" style="text-align: end">
                <div class="summary-left">
                    <p style="color: #797979" th:text="'상품 총 금액: ' + ${totalPrice} + '원'"></p>
                </div>
                <div th:if="${bookCarts != null}" class="summary-right">
                    <a href="/api/orders/cart-order">
                        전체 주문
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Footer Area
===================================== -->
<div th:insert="~{global/footer}"></div>

<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/create-wishList.js}"></script>
<script th:src="@{/js/update-bookCart.js}"></script>

<script type="text/javascript">
    function createBookOrder(bookId) {
        const url = `/api/orders/createBookOrderTest/${bookId}`;
        window.location.href = url;
    }
</script>
</body>
</html>