<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/pages/bookCart.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
</head>

<body>
<div class="site-wrapper" id="top">
    <!--=================================
    Header Area
    ===================================== -->
    <div th:insert="~{global/header}"></div>

    <section class="breadcrumb-section">
        <h2 class="sr-only">Site Breadcrumb</h2>
        <div class="container">
            <div class="breadcrumb-contents">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/api/books/main}">홈</a></li>
                        <li class="breadcrumb-item active">장바구니</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- bookCart Page Start -->
    <div class="bookCart_cart_area inner-page-sec-padding-bottom">
        <div class="container">
            <table class="bookCart_table">
                <thead>
                <tr class="inline-text">
                    <th>상품정보</th>
                    <th>수량</th>
                    <th>상품금액</th>
                    <th style="width: 250px">주문</th>
                </tr>
                </thead>
                <tbody th:if="${bookCarts != null}">
                <tr th:each="bookCart : ${bookCarts}" class="bookCart_item">
                    <td class="bookCart_book_info">
                        <div class="bookCart_info_wrapper">
                            <div class="bookCart_image">
                                <a th:href="@{/api/books/{bookId} (bookId=${bookCart.bookId})}">
                                    <img th:src="${bookCart.bookImageUrl}" alt="Book Image">
                                </a>
                            </div>
                            <div class="bookCart_details">
                                <a class="bookCart_title" th:href="@{/api/books/{bookId} (bookId=${bookCart.bookId})}"
                                   th:text="${bookCart.bookTitle}">Book Title</a>
                                <p class="bookCart_price">
                                    <span th:text="${bookCart.bookSalePrice} + '원'">11,700원</span>
                                    <span class="bookCart_regular_price"
                                          th:text="${bookCart.bookPrice} + '원'">13,000원</span>
                                    <span class="bookCart_discount"
                                          th:text="'(' + ${bookCart.bookSalePercent} + '% 할인)'">(10% 할인)</span>
                                </p>
                                <p class="bookCart_inventoryQuantity"
                                   th:text="'재고: ' + ${bookCart.inventorQuantity}"></p>
                            </div>
                        </div>
                    </td>
                    <td class="bookCart_quantity">
                        <input type="number" th:name="bookQuantity" th:value="${bookCart.bookQuantity}" min="1"
                               th:data-book-id="${bookCart.bookId}">
                        <div>
                            <button class="bookCart_decrement">-</button>
                            <button class="bookCart_increment">+</button>
                        </div>
                        <form th:action="@{/api/carts/me/{bookId} (bookId=${bookCart.bookId})}"
                              th:method="put">
                            <button type="submit" class="bookCart_change">변경</button>
                        </form>

                    </td>
                    <td class="bookCart_total inline-text">
                        <span th:text="${bookCart.bookSalePrice * bookCart.bookQuantity} + '원'">23,400원</span>
                    </td>
                    <td class="add-to-bookCart">
                        <button class="btn btn-primary">주문하기</button>
                        <button th:attr="data-book-id=${bookCart.bookId}" class="btn btn-primary add-to-wishlist">
                            위시리스트에
                            추가
                        </button>
                        <form th:action="@{/api/carts/me/{bookId} (bookId=${bookCart.bookId})}"
                              th:method="delete">
                            <button type="submit" class="btn btn-danger">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="bookCart_summary">
                <div class="summary-left">
                    <p th:text="'상품 총 금액: ' + ${totalPrice} + '원'"></p>
                </div>
                <div th:if="${bookCarts != null}" class="summary-right">
                    <a href="/api/orders/cart-order" class="btn btn-primary">주문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================================
Footer Area
===================================== -->
<div th:insert="~{global/footer}"></div>

<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/create-wishList.js}"></script>
<script th:src="@{/js/update-bookCart.js}"></script>
</body>
</html>