<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
    <!-- Bootstrap CSS -->
</head>

<body>
<div class="site-wrapper" id="top">
    <!-- Header Area -->
    <div th:insert="~{global/header}"></div>

    <section class="breadcrumb-section">
        <h2 class="sr-only">Site Breadcrumb</h2>
        <div class="container">
            <div class="breadcrumb-contents">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/api/categories/main}">홈</a></li>
                        <li class="breadcrumb-item active">사용할 수 있는 쿠폰 목록</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <div class="page-section inner-page-sec-padding">
        <div class="container">
            <div class="row">
                <!-- My Account Tab Menu Start -->
                <div class="col-lg-3 col-12">
                    <!-- 관리자 계정 메뉴 -->
                    <div class="myaccount-tab-menu nav" role="tablist">
                        <a th:href="@{/}" class="active"><i class="fas fa-tachometer-alt"></i> 대시보드</a>
                        <a th:href="@{/}"><i class="fas fa-download"></i> 다운로드</a>
                        <a th:href="@{/}"><i class="fa fa-credit-card"></i> 결제 수단</a>
                        <a th:href="@{/addresses/my-address}"><i class="fa fa-map-marker"></i> 주소 관리</a>
                        <a th:href="@{/users/my-page}"><i class="fa fa-user"></i> 계정 정보</a>
                        <a th:href="@{/api/orders/orderCheck}"><i class="fa fa-cart-arrow-down"></i>회원 주문 내역</a>
                        <a th:href="@{/api/orders/orderCheck/Non}"><i class="fa fa-cart-arrow-down"></i>비회원 주문 내역</a>
                        <a th:href="@{/api/users/me/reviews/page}"><i class="fa fa-comments"></i> 리뷰 내역</a>
                        <a th:href="@{/}"><i class="fa fa-truck"></i> 배송 내역</a>
                        <a th:href="@{/api/point-transactions}"><i class="fa fa-star"></i> 포인트 내역</a>
                        <a th:href="@{/}"><i class="fa fa-ticket-alt"></i> 쿠폰 내역</a>
                        <a th:href="@{/}"><i class="fas fa-sign-out-alt"></i> 로그아웃</a>
                    </div>
                </div>
                <!-- My Account Tab Menu End -->

                <!-- My Account Tab Content Start -->
                <div class="col-lg-9 col-12">
                    <div class="container mt-5">
                        <h1 class="mb-4">사용가능한 쿠폰 목록</h1>
                        <form th:action="'/coupons/orders/users/' + ${deliveryId} +'/cart/'+ ${orderInfoId}" method="post">
                            <!-- Default hidden input for no coupon -->
                            <div th:if="${#lists.isEmpty(couponList)}">
                                <p>쿠폰 없음</p>
                                <input type="hidden" name="couponId" value="0">
                            </div>
                            <div th:unless="${#lists.isEmpty(couponList)}">

                                <table class="table table-bordered table-hover" id="couponTable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Select</th>
                                        <th>Coupon ID</th>
                                        <th>Type</th>
                                        <th>Sale Price</th>
                                        <th>minOrderPrice</th>
                                        <th>maxSalePrice</th>
                                        <th>Sale Rate</th>
                                        <th>Book ID</th>
                                        <th>Book Title</th>
                                        <th>Category ID</th>
                                        <th>Category Name</th>
                                        <th>expired Date</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="coupon1 : ${couponList}">
                                    <!-- Coupon Options -->
                                    <tr th:each="coupon : ${coupon1}">
                                        <td><label>
                                            <input type="radio" name="couponId" th:value="${coupon.id}" class="form-check-input">
                                        </label></td>
                                        <td th:text="${coupon.id()}"></td>
                                        <td th:text="${coupon.type()}"></td>
                                        <td th:text="${coupon.salePrice()}"></td>
                                        <td th:text="${coupon.minOrderPrice()}"></td>
                                        <td th:text="${coupon.maxSalePrice()}"></td>
                                        <td th:text="${coupon.saleRate()}"></td>
                                        <td th:text="${coupon.bookId()}"></td>
                                        <td th:text="${coupon.bookTitle()}"></td>
                                        <td th:text="${coupon.categoryId()}"></td>
                                        <td th:text="${coupon.categoryName()}"></td>
                                        <td th:text="${coupon.expiredDate()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <input type="hidden" id="noCouponInput" name="couponId" value="0" style="display: none;">
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">쿠폰 선택</button>
                                <button type="button" id="noCouponBtn" class="btn btn-secondary mb-3">쿠폰 사용 안함</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- My Account Tab Content End -->
            </div>
        </div>
    </div>
</div>

<!-- Footer Area -->
<div th:insert="~{global/footer}"></div>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        // 쿠폰 사용 안 함 버튼 클릭 시
        $('#noCouponBtn').click(function() {
            $('#couponTable input[type="radio"]').prop('checked', false);
            $('#noCouponInput').show();
            $('#noCouponBtn').addClass('active');
        });

        // 라디오 버튼 클릭 시
        $('#couponTable input[type="radio"]').click(function() {
            $('#noCouponInput').hide();
            $('#noCouponBtn').removeClass('active');
        });
    });
</script>

</body>

</html>
