<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
    <!-- Bootstrap CSS -->
</head>

<body>
<div class="site-wrapper" id="top">
    <!-- Header Area -->
    <div th:insert="~{global/header}"></div>

    <section class="breadcrumb-section">
        <h2 class="sr-only">Site Breadcrumb</h2>
        <div class="container">
            <div class="breadcrumb-contents">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/api/categories/main}">홈</a></li>
                        <li class="breadcrumb-item active">사용할 수 있는 쿠폰 목록</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <div class="page-section inner-page-sec-padding">
        <div class="container">
            <div class="row">


                <!-- My Account Tab Content Start -->
                <div class="col-lg-9 col-12">
                    <div class="container mt-5">
                        <h1 class="mb-4">사용가능한 쿠폰 목록</h1>
                        <form th:action="'/coupons/orders/'+${orderListId}+'/users/'+${deliveryId}" method="post">
                            <!-- Default hidden input for no coupon -->
                            <div th:if="${#lists.isEmpty(couponList)}">
                                <p>쿠폰 없음</p>
                                <input type="hidden" name="couponId" value="0">
                            </div>
                            <div th:unless="${#lists.isEmpty(couponList)}">

                                <table class="table table-bordered table-hover" id="couponTable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>선택</th>
                                        <th>타입</th>
                                        <th>할인금액</th>
                                        <th>최소주문금액</th>
                                        <th>최대주문금액</th>
                                        <th>할인률</th>
                                        <th>도서 제목</th>
                                        <th>카테고리 이름</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Coupon Options -->
                                    <tr th:each="coupon : ${couponList}">
                                        <td><label>
                                            <input type="radio" name="couponId" th:value="${coupon.id}"
                                                   class="form-check-input">
                                        </label></td>
                                        <td th:text="${coupon.type != null ? coupon.type : 'N/A'}"></td>
                                        <td th:text="${coupon.salePrice != null ? #numbers.formatDecimal(coupon.salePrice, 1, 'COMMA', 0, 'POINT')+'원' : 'N/A'}"></td>
                                        <td th:text="${coupon.minOrderPrice != null ? #numbers.formatDecimal(coupon.minOrderPrice, 1, 'COMMA', 0, 'POINT')+'원' : 'N/A'}"></td>
                                        <td th:text="${coupon.maxSalePrice != null ? #numbers.formatDecimal(coupon.maxSalePrice, 1, 'COMMA', 0, 'POINT')+'원' : 'N/A'}"></td>
                                        <td th:text="${coupon.saleRate != null ? #numbers.formatDecimal(coupon.saleRate * 100, 1, 'COMMA', 0, 'POINT')+'%': 'N/A'}"></td>
                                        <td th:text="${coupon.bookTitle != null ? coupon.bookTitle : 'N/A'}"></td>
                                        <td th:text="${coupon.categoryName != null ? coupon.categoryName : 'N/A'}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <input type="hidden" id="noCouponInput" name="couponId" value="0"
                                       style="display: none;">
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">주문 하기</button>
                                <button type="button" id="noCouponBtn" class="btn btn-secondary mb-3">쿠폰 선택 해제</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- My Account Tab Content End -->
            </div>
        </div>
    </div>
</div>

<!-- Footer Area -->
<div th:insert="~{global/footer}"></div>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/ajax-mail.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // 쿠폰 사용 안 함 버튼 클릭 시
        $('#noCouponBtn').click(function () {
            $('#couponTable input[type="radio"]').prop('checked', false);
            $('#noCouponInput').show();
            $('#noCouponBtn').addClass('active');
        });

        // 라디오 버튼 클릭 시
        $('#couponTable input[type="radio"]').click(function () {
            $('#noCouponInput').hide();
            $('#noCouponBtn').removeClass('active');
        });
    });
</script>

</body>

</html>
