<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>쿠폰발행페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/pages/usercoupon-issue-page.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}"/>

</head>
<body>


<!--=================================-->
<!--   Header Area-->
<!--   =====================================-->

<div th:insert="~{global/header}"></div>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <h4>발행가능 쿠폰리스트</h4>
            <div class="d-flex flex-wrap justify-content-between">
                <div class="row w-100" th:each="coupontemplate : ${coupontemplates}">
                    <div class="col-md-6 d-flex mb-4">
                        <div class="coupon-card card w-100">
                            <div class="card-body coupon-card-body">
                                <p>이 쿠폰은 "<span th:text="${coupontemplate.type}"></span>" 타입 입니다.</p>

                                <div th:if="${coupontemplate.type == 'category'}">
                                    <p>카테고리 이름: <span th:text="${coupontemplate.categoryName}"></span></p>
                                </div>
                                <div th:if="${coupontemplate.type == 'book'}">
                                    <p>도서 제목</p>: <span th:text="${coupontemplate.bookTitle}"></span></p>
                                </div>

                                <p>최소 주문금액: <span th:text="${coupontemplate.minOrderPrice}"></span></p>

                                <div th:if="${coupontemplate.saleRate != null}">
                                    <p>할인율: <span th:text="${coupontemplate.saleRate}"></span></p>
                                    <p>최대 할인가격: <span th:text="${coupontemplate.maxSalePrice}"></span></p>
                                </div>
                                <div th:if="${coupontemplate.salePrice != null}">
                                    <p>할인 금액: <span th:text="${coupontemplate.salePrice}"></span></p>
                                </div>

                                <p>만료일: <span th:text="${coupontemplate.expiredDate}"></span></p>
                            </div>
                            <div class="card-footer issue-btn">
                                <form th:action="@{/coupons/{couponTemplateId}(couponTemplateId=${coupontemplate.id})}" th:method="post">
                                    <button type="submit" class="btn btn-primary">발급</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 한 줄에 2개의 쿠폰 카드가 나란히 표시됩니다 -->
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-4">
                    <!-- 첫번째 페이지로 이동 -->
                    <li class="page-item" th:classappend="${coupontemplates.first} ? 'disabled'">
                        <a class="page-link" th:href="@{/coupons/issue(page=1, size=${coupontemplates.size})}" aria-label="First">
                            <span aria-hidden="true">&laquo; First</span>
                        </a>
                    </li>


                    <li class="page-item" th:classappend="${coupontemplates.first} ? 'disabled'">
                        <a class="page-link" th:href="${coupontemplates.first} ? '#' : '/coupons/issue?page=' + ${coupontemplates.number}+'&size='+${coupontemplates.size}" aria-label="Previous">
                            <span aria-hidden="true">&lsaquo; Previous</span>
                        </a>
                    </li>


                    <!-- 페이지 번호 링크 -->
                    <li class="page-item" th:each="page: ${#numbers.sequence(startPage, endPage)}"
                        th:classappend="${page == coupontemplates.number + 1} ? 'active'">
                        <a class="page-link" th:href="@{/coupons/issue(page=${page}, size=${coupontemplates.size})}" th:text="${page}"></a>
                    </li>


                    <!-- 다음 페이지로 이동  둘다 가능한 방법 -->
                    <li class="page-item" th:classappend="${coupontemplates.last} ? 'disabled'">
                        <a class="page-link" th:href="${coupontemplates.last} ? '#' : '/coupons/issue?page=' + (${coupontemplates.number} + 2)+'&size='+${coupontemplates.size}" aria-label="Next">
                            <span aria-hidden="true">Next &rsaquo;</span>
                        </a>
                    </li>


                    <!-- 마지막 페이지로 이동 -->
                    <li class="page-item" th:classappend="${coupontemplates.last} ? 'disabled'">
                        <a class="page-link" th:href="@{/coupons/issue(page=${coupontemplates.totalPages}, size=${coupontemplates.size})}" aria-label="Last">
                            <span aria-hidden="true">Last &raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>




        </div>
    </div>
</div>

<!--=================================-->
<!--            Footer Area-->
<!--=====================================-->
<div th:insert="~{global/footer}"></div>

</body>
</html>
