@font-face {
    font-family: 'GMarketSans';
    src: url("../../fonts/GMarketSansTTF/GmarketSansTTFLight.ttf") format('truetype');
}

body {
    font-family: 'GMarketSans', sans-serif;
    width: 100vw;
    height: 100vh;
}

.top-container {
    width: 100vw;
    padding: 0 20vw;
}

hr {
    width: 60vw;
    margin: 0;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #333333;
}