<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/common/frame.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main/main.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/ORITANG_ROUND.png}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>


<body>
<header th:insert="~{global/header}"></header>

<section id="main-banner-section" class="top-container">
    <div>
        <span th:text="${currentUserGradeName}">here</span>
        <span th:each="userGrade : ${userGrades}" th:text="${userGrade.userGradeName()}">here</span>
    </div>
    <div class="main-banner-container">
        <div class="duck-stew-banner banner">
            <img class="duck-stew-banner-image" th:src="@{/image/ORITANG_MAIN_BANNER_1.png}" alt="오리탕 레시피 배너">
            <!--            <img class="duck-stew-banner-image" th:src="@{/image/MAIN_BANNER_LIGHT.png}" alt="오리탕 레시피 배너">-->
        </div>
        <div class="sub-banner-container">
            <div class="coupon-banner banner">
                <img class="birthday-coupon-image" th:src="@{/image/BIRTHDAY_COUPON.png}" alt="생일 쿠폰">
            </div>
            <div class="event-banner banner">
                <img class="event-banner-image" th:src="@{/image/ORITANG_MAIN_BANNER_2.png}" alt="이벤트 배너">
            </div>
        </div>
    </div>
</section>

<div class="top-container">
    <hr style="margin: 2rem 0">
</div>

<section id="bestseller">
    <div class="top-container book-list-container">
        <h3>베스트 셀러 TOP 10</h3>
        <div class="book-carousel">
            <div th:each="book : ${orderedBooksCache}" class="main-page-book"
                 th:data-href="@{/api/books/{bookId}(bookId=${book.bookId})}"
                 onclick="location.href=this.getAttribute('data-href');">
                <div class="book-thumbnail-container">
                    <img class="book-background-thumbnail" th:src="${book.bookImageUrl}"
                         th:alt="${book.bookTitle}"
                         th:href="@{/api/books/{bookId}(bookId=${book.bookId})}">
                    <img class="book-front-thumbnail" th:src="${book.bookImageUrl}"
                         th:alt="${book.bookTitle}"
                         th:href="@{/api/books/{bookId}(bookId=${book.bookId})}">
                </div>
                <div class="book-info">
                    <h5 class="book-title">
                        <span th:href="@{/api/books/{bookId}(bookId=${book.bookId})}"
                              th:text="${book.bookTitle}" class="book-title-link">
                            제목 없음
                        </span>
                    </h5>
                    <span th:text="${book.authorName}" class="book-author">작가 없음</span>
                    <div class="price-info">
                        <span class="book-price"
                              th:text="${#numbers.formatDecimal(book.bookSalePrice, 1, 'COMMA', 0, 'POINT') + '원'}">가격 정보 없음₩</span>
                        <div class="original-price-info">
                            <del class="book-original-price"
                                 th:text="${#numbers.formatDecimal(book.bookPrice, 1, 'COMMA', 0, 'POINT') + '원'}"></del>
                            <span class="book-price-discount"
                                  th:text="${'-' + #numbers.formatDecimal(book.bookSalePercent, 1, 'COMMA', 0, 'POINT') + '%'}">할인율 정보 없음</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="top-container">
    <hr style="margin: 2rem 0">
</div>

<section id="most-likes">
    <div class="top-container book-list-container" style="text-align: end">
        <h3>좋아요 많은 도서 TOP 10</h3>
        <div class="book-carousel">
            <div th:each="book : ${likesBooksCache}" class="main-page-book"
                 th:data-href="@{/api/books/{bookId}(bookId=${book.bookId})}"
                 onclick="location.href=this.getAttribute('data-href');">
                <div class="book-thumbnail-container">
                    <img class="book-background-thumbnail" th:src="${book.bookImageUrl}"
                         th:alt="${book.bookTitle}"
                         th:href="@{/api/books/{bookId}(bookId=${book.bookId})}">
                    <img class="book-front-thumbnail" th:src="${book.bookImageUrl}"
                         th:alt="${book.bookTitle}"
                         th:href="@{/api/books/{bookId}(bookId=${book.bookId})}">
                </div>
                <div class="book-info">
                    <h5 class="book-title">
                        <span th:href="@{/api/books/{bookId}(bookId=${book.bookId})}"
                              th:text="${book.bookTitle}" class="book-title-link">
                            제목 없음
                        </span>
                    </h5>
                    <span th:text="${book.authorName}" class="book-author">작가 없음</span>
                    <div class="price-info">
                        <span class="book-price"
                              th:text="${#numbers.formatDecimal(book.bookSalePrice, 1, 'COMMA', 0, 'POINT') + '원'}">가격 정보 없음₩</span>
                        <div class="original-price-info">
                            <del class="book-original-price"
                                 th:text="${#numbers.formatDecimal(book.bookPrice, 1, 'COMMA', 0, 'POINT') + '원'}"></del>
                            <span class="book-price-discount"
                                  th:text="${'-' + #numbers.formatDecimal(book.bookSalePercent, 1, 'COMMA', 0, 'POINT') + '%'}">할인율 정보 없음</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="top-container">
    <hr style="margin: 2rem 0">
</div>

<section id="today-books">
    <div class="top-container book-list-container">
        <h3>신간 도서 NEW 10</h3>
        <div class="book-carousel">
            <div th:each="book : ${newestBooksCache}" class="main-page-book"
                 th:data-href="@{/api/books/{bookId}(bookId=${book.bookId})}"
                 onclick="location.href=this.getAttribute('data-href');">
                <div class="book-thumbnail-container">
                    <img class="book-background-thumbnail" th:src="${book.bookImageUrl}"
                         th:alt="${book.bookTitle}"
                         th:href="@{/api/books/{bookId}(bookId=${book.bookId})}">
                    <img class="book-front-thumbnail" th:src="${book.bookImageUrl}"
                         th:alt="${book.bookTitle}"
                         th:href="@{/api/books/{bookId}(bookId=${book.bookId})}">
                </div>
                <div class="book-info">
                    <h5 class="book-title">
                        <span th:href="@{/api/books/{bookId}(bookId=${book.bookId})}"
                              th:text="${book.bookTitle}" class="book-title-link">
                            제목 없음
                        </span>
                    </h5>
                    <span th:text="${book.authorName}" class="book-author">작가 없음</span>
                    <div class="price-info">
                        <span class="book-price"
                              th:text="${#numbers.formatDecimal(book.bookSalePrice, 1, 'COMMA', 0, 'POINT') + '원'}">가격 정보 없음₩</span>
                        <div class="original-price-info">
                            <del class="book-original-price"
                                 th:text="${#numbers.formatDecimal(book.bookPrice, 1, 'COMMA', 0, 'POINT') + '원'}"></del>
                            <span class="book-price-discount"
                                  th:text="${'-' + #numbers.formatDecimal(book.bookSalePercent, 1, 'COMMA', 0, 'POINT') + '%'}">할인율 정보 없음</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="top-container">
    <hr style="margin: 2rem 0">
</div>

<footer th:insert="~{global/footer.html}"></footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script th:src="@{/js/main/slider.js}"></script>

<script th:src="@{/js/create-wishList.js}"></script>
<script th:src="@{/js/create-bookCart.js}"></script>
</body>

</html>