<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>책 파는 오리탕집</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>


<body>
<div class="site-wrapper" id="top">
    <!--=================================
    Header Area
    ===================================== -->
    <div th:insert="~{/global/header.html}"></div>

    <!--=================================
        Home Slider Tab: Featured Product, New Arrivals, Most View Products 책 리스트
        ===================================== -->
    <section class="section-padding">
        <h2 class="sr-only">Home Tab Slider Section</h2>

        <div class="container">
            <div class="sb-custom-tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="shop-tab" data-bs-toggle="tab" href="#shop" role="tab"
                           aria-controls="shop" aria-selected="true">
                            Featured Products
                        </a>
                        <span class="arrow-icon"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="men-tab" data-bs-toggle="tab" href="#men" role="tab"
                           aria-controls="men" aria-selected="true">
                            New Arrivals
                        </a>
                        <span class="arrow-icon"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="woman-tab" data-bs-toggle="tab" href="#woman" role="tab"
                           aria-controls="woman" aria-selected="false">
                            Most view products
                        </a>
                        <span class="arrow-icon"></span>
                    </li>
                </ul>

                <!-- 3가지 탭 전체 틀 시작-->
                <div class="tab-content" id="myTabContent">

                    <!-- Featured Products 시작-->
                    <div class="tab-pane show active" id="shop" role="tabpanel" aria-labelledby="shop-tab">
                        <div class="product-slider multiple-row  slider-border-multiple-row  sb-slick-slider"
                             data-slick-setting='{
                            "autoplay": true,
                            "autoplaySpeed": 80000,
                            "slidesToShow": 4,
                            "rows":2,
                            "dots":true
                        }' data-slick-responsive='[
                            {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                            {"breakpoint":480, "settings": {"slidesToShow": 1} },
                            {"breakpoint":320, "settings": {"slidesToShow": 1} }
                        ]'>

                            <!-- 도서 정보 시작 -->
                            <div th:each="book : ${books}" class="book-list">
                                <div class="single-slide">
                                    <div class="product-card">
                                        <div class="product-header">
<!--                                            <a href="" class="author"><span th:text="${book.author}">작가 정보 없음</span></a>-->
                                            <h3><a th:href="@{/books/{bookId}(bookId=${book.bookId})}" th:text="${book.bookTitle}">제목 없음</a></h3>
                                        </div>
                                        <div class="product-card--body">
                                            <div class="card-image">
                                                <!-- 이미지 경로 설정 -->
                                                <img th:src="@{image/products/product-1.jpg}" th:alt="${book.bookTitle}">
                                                <div class="hover-contents">
                                                    <a th:href="@{/books/{bookId}(bookId=${book.bookId})}" class="hover-image">
                                                        <img th:src="@{image/products/product-1.jpg}" th:alt="${book.bookTitle}">
                                                    </a>
                                                    <div class="hover-btns">
                                                        <a th:href="@{/cart/book-cart}" class="single-btn">
                                                            <i class="fas fa-shopping-basket"></i>
                                                        </a>
                                                        <a th:href="@{/wishlist}" class="single-btn">
                                                            <i class="fas fa-heart"></i>
                                                        </a>
                                                        <a th:href="@{compare.html}" class="single-btn">
                                                            <i class="fas fa-random"></i>
                                                        </a>
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#quickModal" class="single-btn">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price-block">
                                                <!-- 가격 정보 설정 -->
                                                <span class="price" th:text="${book.bookSalePrice} + '₩'">가격 정보 없음₩</span>
                                                <del class="price-old" th:text="${book.bookPrice} + '₩'"></del>
                                                <span class="price-discount" th:text="${book.bookSalePercent + '%'}">할인율 정보 없음</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 도서 정보 종료 -->

                        </div>
                    </div>
                    <!-- Featured Products 끝-->
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="tab-pane" id="men" role="tabpanel" aria-labelledby="men-tab">
                        <div class="product-slider multiple-row  slider-border-multiple-row  sb-slick-slider"
                             data-slick-setting='{
                                        "autoplay": true,
                                        "autoplaySpeed": 8000,
                                        "slidesToShow": 4,
                                        "rows":2,
                                        "dots":true
                                    }' data-slick-responsive='[
                                        {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                                        {"breakpoint":768, "settings": {"slidesToShow": 2} },
                                        {"breakpoint":480, "settings": {"slidesToShow": 1} },
                                        {"breakpoint":320, "settings": {"slidesToShow": 1} }
                                    ]'>

                            <!-- 도서 정보 시작 -->
                            <div th:each="book : ${books}" class="book-list">
                                <div class="single-slide">
                                    <div class="product-card">
                                        <div class="product-header">
                                            <!--                                            <a href="" class="author"><span th:text="${book.author}">작가 정보 없음</span></a>-->
                                            <h3><a th:href="@{/books/bookId (bookId=${book.bookId})}" th:text="${book.bookTitle}">제목 없음</a></h3>
                                        </div>
                                        <div class="product-card--body">
                                            <div class="card-image">
                                                <!-- 이미지 경로 설정 -->
                                                <img th:src="@{image/products/product-1.jpg}" th:alt="${book.bookTitle}">
                                                <div class="hover-contents">
                                                    <a th:href="@{/books/bookId (bookId=${book.bookId})}" class="hover-image">
                                                        <img th:src="@{image/products/product-1.jpg}" th:alt="${book.bookTitle}">
                                                    </a>
                                                    <div class="hover-btns">
                                                        <a th:href="@{/cart/book-cart}" class="single-btn">
                                                            <i class="fas fa-shopping-basket"></i>
                                                        </a>
                                                        <a th:href="@{/wishlist}" class="single-btn">
                                                            <i class="fas fa-heart"></i>
                                                        </a>
                                                        <a th:href="@{compare.html}" class="single-btn">
                                                            <i class="fas fa-random"></i>
                                                        </a>
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#quickModal" class="single-btn">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price-block">
                                                <!-- 가격 정보 설정 -->
                                                <span class="price" th:text="${book.bookSalePrice} + '₩'">가격 정보 없음₩</span>
                                                <del class="price-old" th:text="${book.bookPrice} + '₩'"></del>
                                                <span class="price-discount" th:text="${book.bookSalePercent + '%'}">할인율 정보 없음</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 도서 정보 종료 -->



                        </div>
                    </div>
                    <!-- New Arrivals 끝-->
<!---------------------------------------------------------------------------------------------------------------------------------------------->
                    <!--Most View Products 시작-->
                    <div class="tab-pane" id="woman" role="tabpanel" aria-labelledby="woman-tab">
                        <div class="product-slider multiple-row  slider-border-multiple-row  sb-slick-slider"
                             data-slick-setting='{
                                        "autoplay": true,
                                        "autoplaySpeed": 8000,
                                        "slidesToShow": 4,
                                        "rows":2,
                                        "dots":true
                                    }' data-slick-responsive='[
                                        {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                                        {"breakpoint":768, "settings": {"slidesToShow": 2} },
                                        {"breakpoint":480, "settings": {"slidesToShow": 1} },
                                        {"breakpoint":320, "settings": {"slidesToShow": 1} }
                                    ]'>

                            <!-- 도서 정보 시작 -->
                            <div th:each="book : ${books}" class="book-list">
                                <div class="single-slide">
                                    <div class="product-card">
                                        <div class="product-header">
                                            <!--                                            <a href="" class="author"><span th:text="${book.author}">작가 정보 없음</span></a>-->
                                            <h3><a th:href="@{product-details.html}" th:text="${book.bookTitle}">제목 없음</a></h3>
                                        </div>
                                        <div class="product-card--body">
                                            <div class="card-image">
                                                <!-- 이미지 경로 설정 -->
                                                <img th:src="@{image/products/product-1.jpg}" th:alt="${book.bookTitle}">
                                                <div class="hover-contents">
                                                    <a th:href="@{product-details.html}" class="hover-image">
                                                        <img th:src="@{image/products/product-1.jpg}" th:alt="${book.bookTitle}">
                                                    </a>
                                                    <div class="hover-btns">
                                                        <a th:href="@{/cart/book-cart}" class="single-btn">
                                                            <i class="fas fa-shopping-basket"></i>
                                                        </a>
                                                        <a th:href="@{/wishlist}" class="single-btn">
                                                            <i class="fas fa-heart"></i>
                                                        </a>
                                                        <a th:href="@{compare.html}" class="single-btn">
                                                            <i class="fas fa-random"></i>
                                                        </a>
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#quickModal" class="single-btn">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price-block">
                                                <!-- 가격 정보 설정 -->
                                                <span class="price" th:text="${book.bookSalePrice} + '₩'">가격 정보 없음₩</span>
                                                <del class="price-old" th:text="${book.bookPrice} + '₩'"></del>
                                                <span class="price-discount" th:text="${book.bookSalePercent + '%'}">할인율 정보 없음</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 도서 정보 종료 -->

                        </div>
                    </div>
                    <!--Most View Products 끝-->

                </div>
                <!-- 3가지 탭 전체 틀 끝 -->

            </div>
        </div>
    </section>
    <!--=================================
    Home Features Section
    ===================================== -->
    <section class="mb--30">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 mt--30">
                    <div class="feature-box h-100">
                        <div class="icon">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="text">
                            <h5>Free Shipping Item</h5>
                            <p> Orders over $500</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mt--30">
                    <div class="feature-box h-100">
                        <div class="icon">
                            <i class="fas fa-redo-alt"></i>
                        </div>
                        <div class="text">
                            <h5>Money Back Guarantee</h5>
                            <p>100% money back</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mt--30">
                    <div class="feature-box h-100">
                        <div class="icon">
                            <i class="fas fa-piggy-bank"></i>
                        </div>
                        <div class="text">
                            <h5>Cash On Delivery</h5>
                            <p>Lorem ipsum dolor amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mt--30">
                    <div class="feature-box h-100">
                        <div class="icon">
                            <i class="fas fa-life-ring"></i>
                        </div>
                        <div class="text">
                            <h5>Help & Support</h5>
                            <p>Call us : + 0123.4567.89</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!---->
    <!-- Modal -->
    <div class="modal fade modal-quick-view" id="quickModal" tabindex="-1" role="dialog"
         aria-labelledby="quickModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="product-details-modal">
                    <div class="row">
                        <div class="col-lg-5">
                            <!-- Product Details Slider Big Image-->
                            <div class="product-details-slider sb-slick-slider arrow-type-two" data-slick-setting='{
                                    "slidesToShow": 1,
                                    "arrows": false,
                                    "fade": true,
                                    "draggable": false,
                                    "swipe": false,
                                    "asNavFor": ".product-slider-nav"
                                    }'>
                                <div class="single-slide">
                                    <img src="image/products/product-details-1.jpg" alt="">
                                </div>
                                <div class="single-slide">
                                    <img src="image/products/product-details-2.jpg" alt="">
                                </div>
                                <div class="single-slide">
                                    <img src="image/products/product-details-3.jpg" alt="">
                                </div>
                                <div class="single-slide">
                                    <img src="image/products/product-details-4.jpg" alt="">
                                </div>
                                <div class="single-slide">
                                    <img src="image/products/product-details-5.jpg" alt="">
                                </div>
                            </div>
                            <!-- Product Details Slider Nav -->
                            <div class="mt--30 product-slider-nav sb-slick-slider arrow-type-two"
                                 data-slick-setting='{
            "infinite":true,
              "autoplay": true,
              "autoplaySpeed": 8000,
              "slidesToShow": 4,
              "arrows": true,
              "prevArrow":{"buttonClass": "slick-prev","iconClass":"fa fa-chevron-left"},
              "nextArrow":{"buttonClass": "slick-next","iconClass":"fa fa-chevron-right"},
              "asNavFor": ".product-details-slider",
              "focusOnSelect": true
              }'>
                                <div class="single-slide">
                                    <img src="image/products/product-details-1.jpg" alt="">
                                </div>
                                <div class="single-slide">
                                    <img src="image/products/product-details-2.jpg" alt="">
                                </div>
                                <div class="single-slide">
                                    <img src="image/products/product-details-3.jpg" alt="">
                                </div>
                                <div class="single-slide">
                                    <img src="image/products/product-details-4.jpg" alt="">
                                </div>
                                <div class="single-slide">
                                    <img src="image/products/product-details-5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 mt--30 mt-lg--30">
                            <div class="product-details-info pl-lg--30 ">
                                <p class="tag-block">Tags: <a href="#">Movado</a>, <a href="#">Omega</a></p>
                                <h3 class="product-title">Beats EP Wired On-Ear Headphone-Black</h3>
                                <ul class="list-unstyled">
                                    <li>Ex Tax: <span class="list-value"> £60.24</span></li>
                                    <li>Brands: <a href="#" class="list-value font-weight-bold"> Canon</a></li>
                                    <li>Product Code: <span class="list-value"> model1</span></li>
                                    <li>Reward Points: <span class="list-value"> 200</span></li>
                                    <li>Availability: <span class="list-value"> In Stock</span></li>
                                </ul>
                                <div class="price-block">
                                    <span class="price-new">£73.79</span>
                                    <del class="price-old">£91.86</del>
                                </div>
                                <div class="rating-widget">
                                    <div class="rating-block">
                                        <span class="fas fa-star star_on"></span>
                                        <span class="fas fa-star star_on"></span>
                                        <span class="fas fa-star star_on"></span>
                                        <span class="fas fa-star star_on"></span>
                                        <span class="fas fa-star "></span>
                                    </div>
                                    <div class="review-widget">
                                        <a href="">(1 Reviews)</a> <span>|</span>
                                        <a href="">Write a review</a>
                                    </div>
                                </div>
                                <article class="product-details-article">
                                    <h4 class="sr-only">Product Summery</h4>
                                    <p>Long printed dress with thin adjustable straps. V-neckline and wiring under the Dust with ruffles at the bottom of the dress.</p>
                                </article>
                                <div class="add-to-cart-row">
                                    <div class="count-input-block">
                                        <span class="widget-label">Qty</span>
                                        <input type="number" class="form-control text-center" value="1">
                                    </div>
                                    <div class="add-cart-btn">
                                        <a href="" class="btn btn-outlined--primary"><span
                                                class="plus-icon">+</span>Add to Cart</a>
                                    </div>
                                </div>
                                <div class="compare-wishlist-row">
                                    <a href="" class="add-link"><i class="fas fa-heart"></i>Add to Wish List</a>
                                    <a href="" class="add-link"><i class="fas fa-random"></i>Add to Compare</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="widget-social-share">
                        <span class="widget-label">Share:</span>
                        <div class="modal-social-share">
                            <a href="#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="single-icon"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="single-icon"><i class="fab fa-youtube"></i></a>
                            <a href="#" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--=================================
Footer Area
===================================== -->
<div th:insert="~{/global/footer.html}"></div>

<!-- Use Minified Plugins Version For Fast Page Load -->
<script th:src="@{js/plugins.js}"></script>
<script th:src="@{js/ajax-mail.js}"></script>
<script th:src="@{js/custom.js}"></script>
</body>

</html>