<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>쿠폰발행페이지-고객</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .coupon-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            margin-bottom: 20px;
        }

        .coupon-card-body {
            flex-grow: 1;
        }

        .coupon-field {
            margin-bottom: 10px;
        }

        .issue-btn {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <h4>발행가능 쿠폰리스트</h4>
            <div class="d-flex flex-wrap justify-content-between">
                <div class="row w-100" th:each="coupon : ${coupons}">
                    <div class="col-md-6 d-flex mb-4">
                        <div class="coupon-card card w-100">
                            <div class="card-body coupon-card-body">
                                <div class="coupon-field">
                                    <label for="couponId-${coupon.id}">Coupon ID</label>
                                    <input type="text" id="couponId-${coupon.id}" class="form-control"
                                           th:value="${coupon.id}" readonly>
                                </div>
                                <div class="coupon-field">
                                    <label for="couponPolicyId-${coupon.id}">Coupon PolicyId</label>
                                    <input type="text" id="couponPolicyId-${coupon.id}" class="form-control"
                                           th:value="${coupon.couponPolicy.couponPolicyId}" readonly>
                                </div>
                                <div class="coupon-field">
                                    <label for="minOrderPrice-${coupon.id}">Min Order Price</label>
                                    <input type="text" id="minOrderPrice-${coupon.id}" class="form-control"
                                           th:value="${coupon.couponPolicy.minOrderPrice}" readonly>
                                </div>
                                <div class="coupon-field">
                                    <label for="salePrice-${coupon.id}">Sale Price</label>
                                    <input type="text" id="salePrice-${coupon.id}" class="form-control"
                                           th:value="${coupon.couponPolicy.salePrice}" readonly>
                                </div>
                                <div class="coupon-field">
                                    <label for="saleRate-${coupon.id}">Sale Rate</label>
                                    <input type="text" id="saleRate-${coupon.id}" class="form-control"
                                           th:value="${coupon.couponPolicy.saleRate}" readonly>
                                </div>
                                <div class="coupon-field">
                                    <label for="maxSalePrice-${coupon.id}">Max Sale Price</label>
                                    <input type="text" id="maxSalePrice-${coupon.id}" class="form-control"
                                           th:value="${coupon.couponPolicy.maxSalePrice}" readonly>
                                </div>
                                <div class="coupon-field">
                                    <label for="type-${coupon.id}">Type</label>
                                    <input type="text" id="type-${coupon.id}" class="form-control"
                                           th:value="${coupon.couponPolicy.type}" readonly>
                                </div>
                                <div class="coupon-field">
                                    <label for="expiredDate-${coupon.id}">Expired Date</label>
                                    <input type="text" id="expiredDate-${coupon.id}" class="form-control"
                                           th:value="${coupon.expiredDate}" readonly>
                                </div>
                                <div class="coupon-field">
                                    <label for="issueDate-${coupon.id}">Issue Date</label>
                                    <input type="text" id="issueDate-${coupon.id}" class="form-control"
                                           th:value="${coupon.issueDate}" readonly>
                                </div>
                            </div>
                            <div class="card-footer issue-btn">
                                <form th:action="@{/coupons/{couponId}(couponId=${coupon.id})}" th:method="post">
                                    <button type="submit" class="btn btn-primary">발급</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 한 줄에 2개의 쿠폰 카드가 나란히 표시됩니다 -->
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-4">
                    <!-- 첫번째 페이지로 이동 -->
                    <li class="page-item" th:classappend="${coupons.first} ? 'disabled'">
                        <a class="page-link" th:href="@{/coupons/issue(page=1)}" aria-label="First">
                            <span aria-hidden="true">&laquo; First</span>
                        </a>
                    </li>

                    <!-- 이전 페이지로 이동  둘다 가능한 방법-->
<!--                    <li class="page-item" th:classappend="${coupons.first} ? 'disabled'">-->
<!--                        <a class="page-link" th:href="${coupons.first} ? '#' : @{/coupons/issue(page=${coupons.number})}" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&lsaquo; Previous</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="page-item" th:classappend="${coupons.first} ? 'disabled'">
                        <a class="page-link" th:href="${coupons.first} ? '#' : '/coupons/issue?page=' + ${coupons.number}" aria-label="Previous">
                            <span aria-hidden="true">&lsaquo; Previous</span>
                        </a>
                    </li>


                    <!-- 페이지 번호 링크 -->
                    <li class="page-item" th:each="page: ${#numbers.sequence(startPage, endPage)}"
                        th:classappend="${page == coupons.number + 1} ? 'active'">
                        <a class="page-link" th:href="@{/coupons/issue(page=${page})}" th:text="${page}"></a>
                    </li>

                    <!-- 다음 페이지로 이동 -->
<!--                    <li class="page-item" th:classappend="${coupons.last} ? 'disabled'">-->
<!--                        <a class="page-link" th:href="${coupons.last} ? '#' : @{/coupons/issue(page=${coupons.number + 2})}" aria-label="Next">-->
<!--                            <span aria-hidden="true">Next &rsaquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->

                    <!-- 다음 페이지로 이동  둘다 가능한 방법 -->
                    <li class="page-item" th:classappend="${coupons.last} ? 'disabled'">
                        <a class="page-link" th:href="${coupons.last} ? '#' : '/coupons/issue?page=' + (${coupons.number} + 2)" aria-label="Next">
                            <span aria-hidden="true">Next &rsaquo;</span>
                        </a>
                    </li>


                    <!-- 마지막 페이지로 이동 -->
                    <li class="page-item" th:classappend="${coupons.last} ? 'disabled'">
                        <a class="page-link" th:href="@{/coupons/issue(page=${coupons.totalPages})}" aria-label="Last">
                            <span aria-hidden="true">Last &raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>




        </div>
    </div>
</div>
</body>
</html>
